{%- comment -%}
  Renders a card article

  Accepts:
    - blog: {Object} - The blog to render comments
    - article: {Object} - The article to render
    - show_comments: {Boolean} - Whether to show comments or not
    - show_author: {Boolean} - Whether to show the author or not
    - show_date: {Boolean} - Whether to show the date or not
    - show_image: {Boolean} - Whether to show the image or not
    - show_excerpt: {Boolean} - Whether to show the excerpt or not
    - show_tags: {Boolean} - Whether to show tags or not
    - show_badge: {Boolean} - Whether to show the badge or not
    - lazy_load: {Boolean} - Whether to lazy load the images or not
    - show_tags: {Boolean} - Whether to show tags or not

  Usage:
    {%- render 'card-article',
        blog: blog,
        article: article,
        show_comments: true,
        show_author: true,
        show_date: true,
        show_image: true,
        show_excerpt: true,
        show_tags: true,
        show_badge: true,
        lazy_load: true,
        show_tags: true
    -%}
{%- endcomment -%}

{%- if article and article != empty -%}
  {%- liquid
    # Variables
    assign image = article.image.src
    assign url = article.url
    assign title = article.title | truncate: 50 | escape
    assign content = article.excerpt_or_content
    assign author = article.author
    assign date = article.published_at | time_tag: format: 'date'
    assign tags = article.tags

    assign badge = 'blogs.article.blog' | t
    assign article_comments = 'blogs.article.comments' | t: count: article.comments_count
  -%}

  <div>
    {% comment %} Image {% endcomment %}
    {%- if show_image == true and article.image -%}
      <a
        data-animate='fade-in'
        data-animate-repeat
        href='{{ article.url }}'
        class='aspect-w-14 block aspect-h-8 relative transition-opacity duration-500 ease-in-out hover:opacity-80'
      >
        {%- render 'cmp-media',
          media: image,
          type: 'image',
          loading: lazy_load,
          class: 'media--fill'
        -%}
        {%- if show_badge -%}
          <div class='absolute inset-0 flex justify-end h-fit'>
            <span class='text-sm uppercase font-bold tracking-widest py-1 px-4 rounded-bl-lg bg-secondary drop-shadow-sm text-stone-100'>
              {{- badge -}}
            </span>
          </div>
        {%- endif -%}
      </a>
    {%- endif -%}

    {% comment %} Content {% endcomment %}
    <div class='py-4 space-y-3'>
      {% comment %} Author / Date {% endcomment %}
      {%- if show_author or show_date -%}
        <div class='text-xs uppercase flex items-center gap-sm tracking-widest'>
          {%- if show_date -%}
            <span class='opacity-60 hover:opacity-100 trs-opacity'>
              {{- author -}}
            </span>
          {%- endif -%}
          {%- if show_author and show_date -%}
            <span>-</span>
          {%- endif -%}
          {%- if show_author -%}
            <span class='opacity-60 hover:opacity-100 trs-opacity'>{{ date }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}

      {% comment %} Title {% endcomment %}
      <h3 class='font-black uppercase trs-opacity hover:opacity-60'>
        <a href='{{ url }}'>
          {{ title }}
        </a>
      </h3>

      {% comment %} Excerpt {% endcomment %}
      {%- if show_excerpt
        and article.excerpt.size > 0
        or article.content.size > 0
      -%}
        <p class='text-sm uppercase font-light tracking-widest'>
          {{ content | strip_html | truncatewords: 20 }}
        </p>

        {% comment %} Comments {% endcomment %}
        {%- if show_comments -%}
          <div>
            {%- if article.comments_count > 0 and blog.comments_enabled? -%}
              <span class='text-xs uppercase opacity-60 tracking-widest'>
                {{- article_comments -}}
              </span>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endif -%}

      {% comment %} Tags {% endcomment %}
      {%- if show_tags and tags.size > 0 -%}
        <div>
          <ul class='flex gap-2'>
            {%- for tag in tags -%}
              <li>
                <a
                  href='{{ blog.url }}/tagged/{{ tag | handleize }}'
                  class='text-xs bg-secondary text-secondary-foreground p-3 py-1 rounded-lg uppercase tracking-widest'
                >
                  {{ tag }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
