{%- comment -%}
  Renders a cart subtotal with discounts and taxes.

  Accepts:
    - block: {Object} - The block object.

  Usage:
    {%- render 'cart-subtotal'
      block: block
    -%}
{%- endcomment -%}

{%- liquid
  assign estimated_total_label = 'sections.cart.estimated_total' | t
  assign taxes_policy_label = 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
  assign taxes_included_label = 'sections.cart.taxes_included_but_shipping_at_checkout' | t
  assign policy_at_checkout_label = 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
  assign taxes_at_checkout_label = 'sections.cart.taxes_and_shipping_at_checkout' | t
%}

<div
  class='uppercase space-y-sm'
  id='cart-subtotal'
  {{ block.shopify_attributes }}
>
  <!-- Subtotal -->
  <div class='flex justify-between items-center'>
    <h2 class='font-black'>{{ estimated_total_label }}</h2>
    <p class='font-bold'>{{ cart.total_price | money_with_currency }}</p>
  </div>

  {%- if cart.cart_level_discount_applications.size > 0 -%}
    <!-- Discounts -->
    <ul>
      {%- for discount in cart.cart_level_discount_applications -%}
        <li class='flex gap-sm items-center'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='w-5 h-5'
            fill='currentColor'
            viewBox='0 0 256 256'
          >
            <path d="M243.31,136,144,36.69A15.86,15.86,0,0,0,132.69,32H40a8,8,0,0,0-8,8v92.69A15.86,15.86,0,0,0,36.69,144L136,243.31a16,16,0,0,0,22.63,0l84.68-84.68a16,16,0,0,0,0-22.63ZM84,96A12,12,0,1,1,96,84,12,12,0,0,1,84,96Z"></path>
          </svg>
          <span>
            {{ discount.title }}
            (-{{ discount.total_allocated_amount | money }})
          </span>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <!-- Taxes and shipping policy -->
  <span class='normal-case text-sm'>
    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
      {{ taxes_policy_label }}
    {%- elsif cart.taxes_included -%}
      {{ taxes_included_label }}
    {%- elsif shop.shipping_policy.body != blank -%}
      {{ policy_at_checkout_label }}
    {%- else -%}
      {{ taxes_at_checkout_label }}
    {%- endif -%}
  </span>
</div>
