{%- comment -%}
  Renders a cart cta.

  Accepts:
    - block: {Object} - The block object.
    - form_id: {String} - The form id.

  Usage:
    {%- render 'cart-cta',
        block: block,
        form_id: 'cart-form'
    -%}
{%- endcomment -%}

{%- liquid
  assign update_cart_label = 'sections.cart.update' | t
  assign checkout_label = 'sections.cart.checkout' | t
%}

<div id='cart-cta' {{ block.shopify_attributes }}>
  <!-- No script fallback -->
  <noscript>
    <button type='submit' form='{{ form_id }}'>
      {{ update_cart_label }}
    </button>
  </noscript>

  <!-- Update cart -->
  <button
    type='submit'
    class='btn btn--primary w-full disabled:btn--disabled'
    id='checkout'
    name='checkout'
    {% if cart == empty %}
      disabled
    {% endif %}
    form='{{ form_id }}'
  >
    {{ checkout_label }}
  </button>

  {%- if additional_checkout_buttons -%}
    <div>
      {{ content_for_additional_checkout_buttons }}
    </div>
  {%- endif -%}
</div>
