{% liquid
  # Unless product has only default variant, render the variant picker
%}

{% unless product.has_only_default_variant %}
  <cmp-product-variant-picker
    id='product-variant-picker-{{ section.id }}'
    data-section='{{ section.id }}'
    data-url='{{ product.url }}'
    {% if updateUrl %}
      data-update-url
    {% endif %}
    data-id='product-variant-picker'
    {{ block.shopify_attributes }}
  >
    {% for option in product.options_with_values %}
      {% liquid
        # If the picker type is dropdown, and the swatch shape is not none,
        # and there are swatches, then set the picker type to swatch_dropdown
        assign swatchCount = option.values | map: 'swatch' | compact | size
        assign pickerType = block.settings.picker_type

        if swatchCount > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign pickerType = 'swatch_dropdown'
          else
            assign pickerType = 'swatch'
          endif
        endif
      %}

      {% if pickerType == 'swatch' %}
        {% comment %} Swatch {% endcomment %}
        <fieldset>
          <legend>
            {{ option.name }}:
            <span data-selected-swatch-value='{{ option.name }}'>
              {{ option.selected_value }}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            pickerType: pickerType
          %}
        </fieldset>
      {% elsif pickerType == 'button' %}
        {% comment %} Button {% endcomment %}
        <fieldset>
          <legend>
            {{ option.name }}
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            pickerType: pickerType
          %}
        </fieldset>
      {% else %}
        {% comment %} Dropdown {% endcomment %}
        <label
          for='option-{{ section.id }}-{{ forloop.index0 }}'
        >
          {{ option.name }}
        </label>
        <div>
          {% comment %} Swatch dropdown {% endcomment %}
          <span
            data-selected-dropdown-swatch='options[{{ option.name | escape }}]'
          >
            {% comment %}
              TODO: Render swatch dropdown
            {% endcomment %}
          </span>
          <select
            id='option-{{ section.id }}-{{ forloop.index0 }}'
            name='options[{{ option.name | escape }}]'
            form='{{ productFormId }}'
          >
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              pickerType: pickerType
            %}
          </select>
        </div>
      {% endif %}
    {% endfor %}

    <script type='application/json'>
      {{ product.variants | json }}
    </script>
  </cmp-product-variant-picker>
{% endunless %}

{% comment %}
  TODO: Noscript variant picker
{% endcomment %}
