{%- comment -%}
  Renders a pagination navigation component

  Accepts:
    - paginate: {Object} - the paginate object
    - anchor: {String} (optional) - the anchor to use for the pagination links,
    - id: {String} (optional) - the id
    - color: {String} (optional) - the color of the text
    - infinite_scroll: {Boolean} (optional) - whether the infinite scroll is enabled
  Usage:
    {%- paginate results by 2%}
        {%- render 'cmp-navigator-nav',
            paginate: paginate,
            anchor: '#anchor',
            id: 'id',
            color: 'text-on-accent',
            infinite_scroll: false
        -%}
    {%- endpaginate -%}
{%- endcomment -%}

{%- liquid
  assign parts_size = paginate.parts.size
  assign parts = paginate.parts
  assign previous = paginate.previous
  assign next = paginate.next

  assign pagination_label = 'general.pagination.label' | t
  assign previous_label = 'general.pagination.previous' | t
  assign next_label = 'general.pagination.next' | t
%}

{%- if parts_size > 0 -%}
  <cmp-paginator-nav
    {% if infinite_scroll %}
      class='invisible h-1 block'
    {% endif %}
    data-next-url='{%- if paginate.next -%}{{ paginate.next.url }}{{ anchor }}{%- endif -%}'
    data-id='{{ id }}'
  >
    <nav
      role='navigation'
      class='m-auto w-fit'
      aria-label='{{ pagination_label }}'
    >
      <ul role='list' class='flex gap-3 items-center'>
        {%- if previous -%}
          <li
            {%- if infinite_scroll -%}
              hidden
            {%- endif -%}
          >
            <a
              href='{{ previous.url }}{{ anchor }}'
              class='{{ color }}'
              aria-label='{{ previous_label }}'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='w-4 h-4'
                fill='currentColor'
                viewBox='0 0 256 256'
              >
                <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
              </svg>
            </a>
          </li>
        {%- endif -%}

        {%- for part in parts -%}
          <li
            {%- if infinite_scroll -%}
              hidden
            {%- endif -%}
          >
            {%- if part.is_link -%}
              <a
                href='{{ part.url }}{{ anchor }}'
                class='trs-opacity hover:opacity-60 {{ color }}'
                aria-label='{{ 'general.pagination.page' | t: number: part.title }}'
              >
                {{ part.title }}
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  role='link'
                  aria-disabled='true'
                  class='font-bold {{ color }}'
                  aria-current='page'
                  aria-label='{{ 'general.pagination.page' | t: number: part.title }}'
                >
                  {{ part.title }}
                </a>
              {%- else -%}
                <span class='{{ color }}'>{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if next -%}
          <li
            {%- if infinite_scroll -%}
              hidden
            {%- endif -%}
          >
            <a
              href='{{ next.url }}{{ anchor }}'
              class='{{ color }}'
              aria-label='{{ next_label }}'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='w-4 h-4'
                fill='currentColor'
                viewBox='0 0 256 256'
              >
                <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
              </svg>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </cmp-paginator-nav>
{%- endif -%}
