{%- comment -%}
  Renders a filter component

  Accepts:
    - object: {Object} - The object that holds filter data
    - result_size: {Integer} - The number of results that match the filter
    - enable_sorting: {Boolean} - Whether to enable sorting or not
    - enable_filtering: {Boolean} - Whether to enable filtering or not

  Usage:
    {%- render 'cmp-filter',
        object: collection,
        result_size: collection.products.size,
        enable_sorting: section.settings.enable_sorting,
        enable_filtering: section.settings.enable_filtering
    -%}
{%- endcomment -%}

{%- liquid
  assign accessibility_close = 'accessibility.close' | t
  assign component_id = 'filter-drawer'
%}

<cmp-filter
  {% if enable_sorting %}
    data-sorting
  {% endif %}
  {% if enable_filtering %}
    data-filtering
  {% endif %}
  data-id='{{ component_id }}'
  data-section='{{ section.id }}'
  class='group/parent fixed z-40'
>
  <div
    data-id='{{ component_id }}-overlay'
    class='bg-background/20 backdrop-blur-sm transition-all duration-[600ms] ease-in-out group-data-[open]/parent:visible invisible group-data-[open]/parent:opacity-100 opacity-0 group-data-[open]/parent:pointer-events-auto pointer-events-none fixed inset-0 z-30'
  ></div>

  {% comment %} Filter Drawer {% endcomment %}
  <form
    id='{{ component_id }}-menu'
    data-id='{{ component_id }}-menu'
    class='bottom-0 w-[36rem] border-l-[1px] border-border/20 fixed z-40 right-0 top-0 group-data-[open]/parent:translate-x-0 transition-all duration-[600ms] ease-in-out translate-x-full group/menu bg-background text-foreground overflow-y-auto'
  >
    <div
      class='h-20 bg-background border-b-[1px] border-border/20 sticky z-10 top-0 p-md py-md flex justify-between items-center'
    >
      <h3
        data-id='{{ component_id | append: '-title' }}'
        class=' font-black flex items-center gap-sm uppercase'
      >
        <span>Result(s)</span>
        <sup class='text-xs'>{{ result_size }}</sup>
      </h3>
      <button
        aria-label='{{ accessibility_close }}'
        data-id='{{ component_id | append: '-close-button' }}'
        class='hover:rotate-90 hover:opacity-50 transition-all duration-[400ms] ease-in-out'
      >
        <svg
          class='w-auto h-6'
          viewBox='0 0 152 168'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M97.1014 47.0755C140.786 -3.51857 183.417 71.3187 118.154 83.4401C183.417 96.0887 140.26 170.399 97.1014 119.804C119.207 183.047 33.4167 182.52 55.5222 119.804C11.8376 170.399 -30.7942 96.0887 34.4693 83.4401C-31.3205 71.3187 11.8376 -2.99156 55.5222 47.0755C32.8904 -15.6401 119.207 -15.6401 97.1014 47.0755ZM76.0483 73.9537C81.3119 73.9537 86.0485 78.17 86.0485 83.4401C86.0485 88.7102 81.3119 93.4537 76.0483 93.4537C70.7853 93.4537 66.5744 88.7102 66.5744 83.4401C66.5744 78.17 70.7853 73.9537 76.0483 73.9537Z" fill="currentColor"/>
        </svg>
      </button>
    </div>
    <div class='p-lg space-y-lg'>
      <div>
        <details class='group border-b-[1px] border-stone-950/20'>
          <summary class='py-6 flex items-center justify-between'>
            <div class='space-x-1'>
              <span class='text-sm uppercase tracking-widest font-bold'>
                Sort by
              </span>
            </div>

            <div>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='w-4 h-4 group-open:rotate-180 transition-all duration-500 ease-in-out'
                viewBox='0 0 256 256'
              >
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </summary>
          <div class='mb-6 space-y-4'>
            <select
              class='w-full border-[1px] text-sm bg-white/50 border-stone-300 rounded-md p-1'
              name='sort_by'
              id='sort-by'
            >
              {%- assign sort_by = object.sort_by
                | default: object.default_sort_by
              -%}

              {%- for option in object.sort_options -%}
                <option
                  value='{{ option.value }}'
                  {%- if option.value == sort_by -%}
                    selected='selected'
                  {%- endif -%}
                >
                  {{ option.name }}
                </option>
              {%- endfor -%}
            </select>
          </div>
        </details>
        {%- for filter in object.filters -%}
          {%- liquid
            # Variables
            assign label = filter.label
            assign active_values = filter.active_values
            assign url_to_remove = filter.url_to_remove
          -%}

          <details class='group border-b-[1px] border-border/10'>
            <summary class='py-6 flex items-center justify-between'>
              <div class='space-x-1'>
                <span class='text-sm uppercase tracking-widest font-bold'>
                  {{- label -}}
                </span>
                {%- if active_values.size > 0 -%}
                  <sup class='text-sm uppercase tracking-widest'>
                    {{- active_values.size -}}
                  </sup>
                {%- endif -%}
              </div>

              <div>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-4 h-4 group-open:rotate-180 transition-all duration-500 ease-in-out'
                  viewBox='0 0 256 256'
                >
                  <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                </svg>
              </div>
            </summary>

            <div class='mb-6 space-y-4'>
              {%- if active_values.size > 0 -%}
                <div class='text-sm uppercase tracking-widest flex gap-2'>
                  <p>{{ active_values.size }} selected</p>
                  <p class='font-bold'><a href='{{ url_to_remove }}'>Reset</a></p>
                </div>
              {%- endif -%}

              {%- render 'cmp-filter-options', filter: filter -%}
            </div>
          </details>
        {%- endfor -%}
      </div>

      <div class='text-sm uppercase tracking-widest font-light space-y-2'>
        <p class='font-bold'>
          <a href='{{ object.url }}?sort_by={{ object.sort_by }}'>Clear all</a>
        </p>

        {%- for filter in object.filters -%}
          {%- if filter.type == 'price_range' -%}
            {%- if filter.min_value.value != null
              or filter.max_value.value != null
            -%}
              <p>
                <a class='flex gap-2 items-center' href='{{ filter.url_to_remove }}'>
                  {%- assign min_value = filter.min_value.value | default: 0 -%}
                  {%- assign max_value = filter.max_value.value
                    | default: filter.range_max
                  -%}
                  <span>{{ min_value | money }} - {{ max_value | money }}</span>

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='w-3 h-3'
                    viewBox='0 0 256 256'
                  >
                    <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                  </svg>
                </a>
              </p>
            {%- endif -%}
          {%- else -%}
            {%- for filter_value in filter.active_values -%}
              <p>
                <a
                  class='flex gap-2 items-center'
                  href='{{ filter_value.url_to_remove }}'
                >
                  <span>{{ filter.label }}: {{ filter_value.label }}</span>

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='w-3 h-3'
                    viewBox='0 0 256 256'
                  >
                    <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                  </svg>
                </a>
              </p>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    <!-- Loading overlay -->
    {%- assign loader_id = '-loading' | prepend: component_id -%}
    {%- render 'loading-overlay',
      data_id: loader_id,
      class: 'group-data-[loading]/filter:opacity-100 opacity-0 group-data-[loading]/filter:visible invisible'
    -%}

    <!-- Error message -->
    {%- assign error_id = 'filter-error' | prepend: component.id -%}
    {%- render 'error-message',
      data_id: error_id,
      class: 'mx-lg group-data-[error]/filter:opacity-100 opacity-0 group-data-[error]/filter:block hidden group-data-[error]/filter:visible invisible'
    -%}
  </form>
</cmp-filter>
