{% comment %}
  Renders a filter option

  Accepts:
    - filter: the filter to render

  Usage:
    {% render 'cmp-filter-options',
        filter: filter
    %}
{% endcomment %}

{% case filter.type %}
  {% when 'boolean', 'list' %}
    <div class='space-y-4'>
      <ul class='space-y-2'>
        {% for filter_value in filter.values %}
          <li>
            <label
              class='group flex gap-2 items-center cursor-pointer'
              for='filter-{{ filter.param_name }}-{{ forloop.index }}'
            >
              <input
                class='peer'
                type='checkbox'
                hidden
                name='{{ filter_value.param_name }}'
                value='{{ filter_value.value }}'
                id='filter-{{ filter.param_name }}-{{ forloop.index }}'
                {% if filter_value.active %}
                  checked
                {% endif %}
                {% if filter_value.count == 0 and filter_value.active == false %}
                  disabled
                {% endif %}
              >
              {% comment %}
                <span>
                  {% case filter_value.display.type %}
                    {% when 'colors' %}
                      {% liquid
                        assign size_limit = filter_value.display.value.size | at_most: 4
                        assign rotation = '0deg'
                        if size_limit == 2
                          assign rotation = '45deg'
                        endif

                        assign angle_increment = 360 | divided_by: size_limit
                        assign angle = 0
                      %}
                      {% capture conic_gradient %}
                          {% for color in filter_value.display.value limit: size_limit %}
                            {{ color }} {{ angle }}deg{% assign angle = angle | plus: angle_increment %} {{ angle }}deg{% unless forloop.last %}, {% endunless %}
                          {% endfor %}
                        {% endcapture %}
                      <span
                        style='
                          width: 25px;
                          height: 25px;
                          border-radius: 50%;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                        '
                      ></span>
                    {% when 'image' %}
                      {{
                        filter_value.display.value
                        | image_url: width: 25
                        | image_tag: alt: filter_value.display.value.alt
                      }}
                    {% else %}
                      <span class='visual-display__child'></span>
                  {% endcase %}
                </span>
              {% endcomment %}
              <div
                class='h-4 w-4 relative peer-checked:after:opacity-100 after:opacity-0 after:trs-opacity after:size-3 after:bg-stone-900 after:absolute after:rounded-sm after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 bg-transparent border-[1px] border-stone-950/50 rounded-sm'
              ></div>
              <span class='flex-grow text-sm peer-checked:opacity-100 opacity-40 transition-all duration-300 ease-in-outs uppercase tracking-widest'>
                {{ filter_value.label }}
              </span>
              <span class='text-sm peer-checked:font-bold transition-all duration-300 ease-in-outs uppercase tracking-widest'>
                {{ filter_value.count }}
              </span>
            </label>
          </li>
        {% endfor %}
      </ul>

      {% comment %}
        <button
          type='submit'
          class='relative group p-2 disabled:pointer-events-none rounded-lg bg-stone-900 disabled:bg-stone-900/70 text-xs tracking-widest uppercase text-stone-300 w-full'
        >
          <span>Apply</span>
        </button>
      {% endcomment %}
    </div>
  {% when 'price_range' %}
    {% comment %}
      TODO: Implement price slider
      <cmp-price-slider
        data-min='0'
        data-min-param-name='{{ filter.min_value.param_name }}'
        data-min-start='
          {% if filter.min_value.value %}
            {{ filter.min_value.value | money_without_currency | replace: ',', '' }}
          {% endif %}
        '
        data-max='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
        data-max-param-name='{{ filter.max_value.param_name }}'
        data-max-start='
          {% if filter.max_value.value %}
           {{ filter.max_value.value | money_without_currency | replace: ',', '.' }}
          {% endif %}
        '
        data-step='1'
        data-currency-symbol='{{ cart.currency.symbol }}'
        data-currency-format='{{ cart.currency.format }}'
        id='filter-price-slider'
        class='flex'
      >
        <span>
          {{ cart.currency.symbol }}
          {% if filter.min_value.value %}
            {{ filter.min_value.value | money_without_currency }}
          {% endif %}
        </span>
        <div
          class='flex-grow'
          id='filter-price-slider-component'
        ></div>
        <span>
          {{ cart.currency.symbol }}
          {% if filter.max_value.value %}
            {{ filter.max_value.value | money_without_currency }}
          {% endif %}
        </span>
      </cmp-price-slider>
    {% endcomment %}
    <div class='flex text-xs font-light items-center gap-2'>
      <div class='flex-grow flex gap-1 items-center'>
        <span>{{ cart.currency.symbol }}</span>

        <input
          class='flex-grow border-[1px] bg-white/50 border-stone-300 rounded-md p-1'
          name='{{ filter.min_value.param_name }}'
          id='filter-{{ filter.min_value.param_name }}'
          {% if filter.min_value.value -%}
            value='{{ filter.min_value.value | money_without_currency | replace: ',', '' }}'
          {%- endif %}
          type='number'
          placeholder='0'
          min='0'
          max='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
        >

        <label class='sr-only' for='filter-{{ filter.min_value.param_name }}'
          >From</label
        >
      </div>
      <span>-</span>
      <div class='flex-grow flex gap-1 items-center'>
        <span>{{ cart.currency.symbol }}</span>

        <input
          class='flex-grow border-[1px] bg-white/50 border-stone-300 rounded-md p-1'
          name='{{ filter.max_value.param_name }}'
          id='filter-{{ filter.max_value.param_name }}'
          {% if filter.max_value.value -%}
            value='{{ filter.max_value.value | money_without_currency | replace: ',', '' }}'
          {%- endif %}
          type='number'
          placeholder='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
          min='0'
          max='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
        >

        <label class='hidden' for='filter-{{ filter.max_value.param_name }}'
          >To</label
        >
      </div>
    </div>

    <button
      type='submit'
      class='relative group p-2 disabled:pointer-events-none rounded-lg bg-stone-900 disabled:bg-stone-900/70 text-xs tracking-widest uppercase text-stone-300 w-full'
    >
      <span>Apply</span>
    </button>
{% endcase %}
