{%- comment -%}
  Renders a product recommendations section

  Accepts:
    - product: {Object} - the product to render
    - section: {Object} - the section to render
    - intent: {String} - the intent of the recommendations
    - block: {Object} - the block to render
    - class: {String} (optional) Additional classes

  Usage:
    {%- render 'cmp-product-recommendations',
        intent: 'complementary',
        product: product,
        section: section,
        block: block,
        class: 'my-class'
    -%}
{%- endcomment -%}

<cmp-product-recommendations
  class='min-h-[1px] space-y-sm block {{ class }}'
  data-url='{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_limit  }}&intent={{ intent }}'
  data-id='product-recommendations'
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {%- if recommendations.intent == 'related' -%}
      <h2>{{ 'products.product.related' | t }}</h2>
    {%- else -%}
      <h2 class='font-black uppercase text-sm'>
        {{ 'products.product.complementary' | t }}
      </h2>
    {%- endif -%}

    <ul class='flex gap-sm flex-col'>
      {%- for product in recommendations.products -%}
        <a
          href='{{ product.url }}'
          class='grid gap-lg grid-cols-[25%,1fr_auto] border-[1px] border-border/10 rounded-md overflow-hidden'
          data-animate='fade-in'
          data-animate-repeat
        >
          <div class='aspect-h-3 aspect-w-3'>
            {% render 'cmp-media',
              media: product.featured_media,
              class: 'media--fill'
            %}
          </div>

          <h3 class='py-md'>{{ product.title }}</h3>
          <div class='space-y-sm py-md pr-lg'>
            {%- assign price_id = 'product-info-price-' | append: section.id -%}
            {%- render 'product-price',
              block: block,
              product: product,
              section: section,
              data_id: price_id,
              hide_tax: true,
              class: 'col-span-full text-sm'
            -%}
          </div>
        </a>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</cmp-product-recommendations>
