{%- comment -%}
  Renders an accordion.

  Accepts:
  - title: {Object} - The block object.
  - content: {Object} - The block object.
  - icon: {Object} - The block object.
  - block: {Object} - The block object.
  - section: {Object} - The section object.
  - page_content: {Object} - The page content object.

  Usage:
    {%- render 'cmp-accordion',
        title: block.title,
        content: block.content,
        page_content: block.page.content,
        icon: block.icon,
        section: section
    -%}
{%- endcomment -%}

<cmp-accordion
  data-id='accordion'
  data-section='{{ section.id }}'
  class='group/accordion'
  role='region'
  aria-labelledby='accordion-header-{{ section.id }}'
>
  <!-- Accordion header -->
  <button
    data-id='accordion-header-{{ section.id }}'
    aria-expanded='false'
    aria-controls='accordion-content-{{ section.id }}'
    aria-label='Toggle accordion'
    class='flex w-full items-center justify-between hover:opacity-80 transition-all duration-300 ease-in-out cursor-pointer py-sm px-md rounded-xl drop-shadow-sm bg-white'
  >
    <div class='tracking-widest uppercase font-light duration-[400ms] ease-in-out transition-all text-sm hover:opacity-60'>
      {{ title }}
    </div>

    <!-- Minus icon -->
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 256 256'
      class='hidden group-data-[expanded]/accordion:block h-3 w-auto'
    >
      <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path>
    </svg>

    <!-- Plus icon -->
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 256 256'
      class='block group-data-[expanded]/accordion:hidden h-3 w-auto'
    >
      <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
    </svg>
  </button>

  <!-- Accordion content -->
  <div
    class='max-h-0 overflow-hidden transition-all duration-[400ms] ease-in-out prose-sm'
    data-id='accordion-content-{{ section.id }}'
    aria-hidden='true'
    id='accordion-content-{{ section.id }}'
  >
    <div class='px-md py-sm prose-sm drop-shadow-sm rounded-xl my-sm bg-white/90'>
      {{ content }}
      {{ page_content }}
    </div>
  </div>
</cmp-accordion>
