{%- comment -%}
  Renders a product form

  Accepts:
  - product: {Object} Product object
  - section: {Object} Section object
  - block: {Object} Block object
  - form_id: {String} Form ID

  Usage:
  {%-render 'cmp-product-form',
    product: product,
    section: section,
    block: block,
    form_id: product_form_id,
  -%}
{%- endcomment -%}

{%- liquid
  assign target = product.selected_or_first_available_variant

  # If the block has the show_gift_card_recipient setting enabled and the product is a gift card,
  assign gift_card_recipient_feature_active = false
  if block.settings.show_gift_card_recipient and product.gift_card?
    assign gift_card_recipient_feature_active = true
  endif

  # If the block has the show_dynamic_checkout setting enabled and the gift card recipient
  # feature is not active, then we should show the dynamic checkout button
  assign show_dynamic_checkout = false
  if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
    assign show_dynamic_checkout = true
  endif

  # Check against inventory, if the product is not managed by Shopify or the inventory policy is continue,
  # then we should not check against inventory
  assign check_against_inventory = true
  if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
    assign check_against_inventory = false
  endif

  # If the product has a quantity rule and the minimum quantity is greater than the inventory quantity,
  # then the product is sold out
  if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
    assign quantity_rule_soldout = true
  endif

  # Text blocks
  assign add_to_cart_text = 'products.product.add_to_cart' | t
  assign sold_out_text = 'products.product.sold_out' | t
%}

<cmp-product-form
  data-id='product-form'
  data-section='{{ section.id }}'
  class='group/form relative'
>
  <div data-id='product-form-contents-{{ section.id }}'>
    {%- if product != blank -%}
      {%- assign form_id = 'product-form-' | append: section.id -%}
      {%- form 'product',
        product,
        id: form_id,
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form',
        data-id: form_id,
        class: 'space-y-sm'
      -%}
        {%- comment -%} Hidden field {%- endcomment -%}
        <input
          type='hidden'
          name='id'
          data-id='product-form-variant-id-{{ section.id }}'
          value='{{ target.id }}'
          {%- if target.available == false
            or target == null
            or quantity_rule_soldout
          -%}
            disabled
          {%- endif -%}
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'product-gift-card-recipient-form',
            product: product,
            form: form,
            section: section
          -%}
        {%- endif -%}

        <!-- Buy buttons -->
        <div class='space-y-sm'>
          <button
            data-id='product-form-submit-button-{{ section.id }}'
            type='submit'
            name='add'
            class='btn btn--primary relative w-full disabled:btn--disabled flex gap-sm items-center justify-center'
            {%- if target.available == false
              or target == null
              or quantity_rule_soldout
            -%}
              disabled
            {%- endif -%}
          >
            <span data-id='product-form-submit-button-content-{{ section.id }}'>
              {%- if target.available == false or quantity_rule_soldout -%}
                {{ sold_out_text }}
              {%- else -%}
                {{ add_to_cart_text }}
              {%- endif -%}
            </span>

            <!-- Loading overlay -->
            {%- assign loader_id = 'product-form-loader-' | append: section.id -%}
            {%- render 'loading-overlay',
              data_id: loader_id,
              class: 'group-data-[loading]/form:opacity-100 opacity-0 group-data-[loading]/form:visible invisible'
            -%}
          </button>

          <!-- Dynamic checkout button -->
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    {%- else -%}
      <button
        type='submit'
        name='add'
        class='btn btn--primary w-full disabled:btn--disabled'
        disabled
      >
        {{ sold_out_text }}
      </button>
    {%- endif -%}
  </div>

  <!-- Error message -->
  {%- assign error_id = 'product-form-error-' | append: section.id -%}
  {%- render 'error-message',
    data_id: error_id,
    class: 'group-data-[error]/form:opacity-100 opacity-0 group-data-[error]/form:flex hidden group-data-[error]/form:visible invisible'
  -%}
</cmp-product-form>
