{%- comment -%}
  Renders a language selector

  Accepts:
    - class: {String} Additional classes

  Usage:
  {%- render 'language-selector',
    class: 'mb-md'
  -%}
{%- endcomment -%}

{% liquid
  assign accessibility_close = 'accessibility.close' | t
  assign component_id = 'language-selector'
%}

{% if localization.available_languages.size > 1 %}
  <button
    data-id='{{  component_id | append: '-open-button' }}'
    aria-expanded='false'
    type='button'
    class='flex gap-sm items-center {{ class }}'
    aria-controls='{{ component_id | append: '-menu' }}'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-5 w-auto'
      fill='currentColor'
      viewBox='0 0 256 256'
    >
      <path d="M247.15,212.42l-56-112a8,8,0,0,0-14.31,0l-21.71,43.43A88,88,0,0,1,108,126.93,103.65,103.65,0,0,0,135.69,64H160a8,8,0,0,0,0-16H104V32a8,8,0,0,0-16,0V48H32a8,8,0,0,0,0,16h87.63A87.76,87.76,0,0,1,96,116.35a87.74,87.74,0,0,1-19-31,8,8,0,1,0-15.08,5.34A103.63,103.63,0,0,0,84,127a87.55,87.55,0,0,1-52,17,8,8,0,0,0,0,16,103.46,103.46,0,0,0,64-22.08,104.18,104.18,0,0,0,51.44,21.31l-26.6,53.19a8,8,0,0,0,14.31,7.16L148.94,192h70.11l13.79,27.58A8,8,0,0,0,240,224a8,8,0,0,0,7.15-11.58ZM156.94,176,184,121.89,211.05,176Z"></path>
    </svg>
    <span>{{ localization.language.endonym_name | capitalize }}</span>
  </button>

  <cmp-localization-form
    data-id='{{  component_id }}'
    data-section-id='{{ section.id }}'
    class='group/parent fixed z-40'
  >
    <div
      data-id='{{  component_id | append: '-overlay' }}'
      class='bg-background/20 backdrop-blur-sm transition-all duration-[600ms] ease-in-out group-data-[open]/parent:visible invisible group-data-[open]/parent:opacity-100 opacity-0 group-data-[open]/parent:pointer-events-auto pointer-events-none fixed inset-0 z-30'
    ></div>
    <div
      id='{{ component_id |  append: '-menu' }}'
      tabindex='0'
      class='bottom-0 w-[36rem] border-l-[1px] border-border/20 fixed z-40 right-0 top-0 group-data-[open]/parent:translate-x-0 transition-all duration-[600ms] ease-in-out translate-x-full group/menu bg-background text-foreground overflow-y-auto'
      data-id='{{  component_id | append: '-menu' }}'
    >
      {% comment %} Header {% endcomment %}
      <div
        class='h-20 bg-background border-b-[1px] border-border/20 sticky z-10 top-0 p-md py-md flex justify-between items-center'
      >
        <h3
          data-id='country-selector-title'
          class=' font-black flex items-center gap-sm uppercase'
        >
          <span>Language</span>
        </h3>
        <button
          aria-label='{{ accessibility_close }}'
          data-id='{{  component_id | append: '-close-button' }}'
          class='hover:rotate-90 hover:opacity-50 transition-all duration-[400ms] ease-in-out'
        >
          <svg
            class='w-auto h-6'
            viewBox='0 0 152 168'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M97.1014 47.0755C140.786 -3.51857 183.417 71.3187 118.154 83.4401C183.417 96.0887 140.26 170.399 97.1014 119.804C119.207 183.047 33.4167 182.52 55.5222 119.804C11.8376 170.399 -30.7942 96.0887 34.4693 83.4401C-31.3205 71.3187 11.8376 -2.99156 55.5222 47.0755C32.8904 -15.6401 119.207 -15.6401 97.1014 47.0755ZM76.0483 73.9537C81.3119 73.9537 86.0485 78.17 86.0485 83.4401C86.0485 88.7102 81.3119 93.4537 76.0483 93.4537C70.7853 93.4537 66.5744 88.7102 66.5744 83.4401C66.5744 78.17 70.7853 73.9537 76.0483 73.9537Z" fill="currentColor"/>
          </svg>
        </button>
      </div>

      {% comment %} Form {% endcomment %}
      {% form 'localization' %}
        <ul
          role='list'
        >
          {% for language in localization.available_languages %}
            <li tabindex='-1'>
              <a
                href='#'
                {% if language.iso_code == localization.language.iso_code %}
                  aria-current='true'
                {% endif %}
                class='p-md border-b-[1px] border-border/5 block hover:opacity-50 transition-all duration-300 ease-in-out'
                hreflang='{{ language.iso_code }}'
                lang='{{ language.iso_code }}'
                data-value='{{ language.iso_code }}'
              >
                {{ language.endonym_name | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <input
          type='hidden'
          name='language_code'
          value='{{ localization.language.iso_code }}'
        >
      {% endform %}
    </div>
  </cmp-localization-form>
{% endif %}
