{% liquid
  assign variantsAvailableArray = product.variants | map: 'available'
  assign variantsOption1Array = product.variants | map: 'option1'
  assign variantsOption2Array = product.variants | map: 'option2'
  assign variantsOption3Array = product.variants | map: 'option3'

  assign productFormId = 'product-form-' | append: product.id

  # Text blocks
  assign soldOutOrUnavailable = 'products.product.variant_sold_out_or_unavailable' | t
  assign valueUnavailable = 'products.product.value_unavailable' | t: option_value: value
%}

{% for value in option.values %}
  {% liquid
    assign optionDisabled = true

    for option1_name in variantsOption1Array
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign optionDisabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign optionDisabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign optionDisabled = false
          endif
      endcase
    endfor

    if value.swatch.image
      assign imageUrl = value.swatch.image | image_url: width: 50
      assign swatchValue = 'url(' | append: imageUrl | append: ')'
    elsif value.swatch.color
      assign swatchValue = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatchValue = null
    endif
  %}

  {% capture inputId %}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 }}
  {% endcapture %}

  {% capture labelUnavailable %}
    <span class="visually-hidden label-unavailable">
      {{ soldOutOrUnavailable }}
    </span>
  {% endcapture %}

  {% if pickerType == 'swatch' %}
    {% assign checked = false %}
    {% if option.selected_value == value %}
      {% assign checked = true %}
    {% endif %}

    <input
      type='radio'
      id='{{ id }}'
      name='{{ name }}'
      value='{{ value }}'
      form='{{ productFormId }}'
      class='{% if disabled %} disabled{% endif %}'
      {% if checked %}
        checked
      {% endif %}
    >
    <label
      for='{{ id }}'
      title='{{ value }}'
    >
      {% liquid
        assign swatch_value = null
        if swatch.image
          assign image_url = swatch.image | image_url: width: 50
          assign swatch_value = 'url(' | append: image_url | append: ')'
        elsif swatch.color
          assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
        endif
      %}

      <span
        {% if swatch_value %}
          class='swatch{% if shape == 'square' %} swatch--square{% endif %}'
          style='--swatch--background: {{ swatch_value }}'
        {% else %}
          class='swatch swatch--unavailable{% if shape == 'square' %} swatch--square{% endif %}'
        {% endif %}
      ></span>
      <span class='sr'>{{ value }}</span>
      {{ labelUnavailable }}
    </label>
  {% elsif pickerType == 'button' %}
    <input
      type='radio'
      id='{{ inputId }}'
      name='{{ option.name }}'
      value='{{ value | escape }}'
      form='{{ productFormId }}'
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if optionDisabled %}
        class='disabled'
      {% endif %}
    >
    <label for='{{ inputId }}'>
      {{ value }}
      {{ labelUnavailable }}
    </label>
  {% elsif pickerType == 'dropdown' or pickerType == 'swatch_dropdown' %}
    <option
      value='{{ value | escape }}'
      {% if option.selected_value == value %}
        selected='selected'
      {% endif %}
      {% if swatchValue and pickerType == 'swatch_dropdown' %}
        data-option-swatch-value='{{ swatchValue }}'
      {% endif %}
    >
      {% if optionDisabled %}
        {{ valueUnavailable }}
      {% else %}
        {{ value }}
      {% endif %}
    </option>
  {% endif %}
{% endfor %}
