{%- comment -%}
  Renders a product sku

  Accepts:
  - block: {Object} - the block to render
  - product: {Object} - the product to render
  - section: {Object} - the section to render
  - data_id: {String} - the data-id attribute

  Usage:
    {%- render 'product-sku',
        block: block,
        product: product,
        section: section
        data_id: 'product-info-sku'
    -%}
{%- endcomment -%}

{%- liquid
  assign sku = product.selected_or_first_available_variant.sku
  assign attributes = block.shopify_attributes

  assign sku_label = 'products.product.sku' | t
%}

<div
  data-id='{{ data_id }}'
  {{ attributes }}
  class='{{ class }}'
>
  <p
    role='status'
    aria-label='{{ sku_label }}'
    class='text-xs opacity-50'
  >
    <span class='sr'>{{ sku_label }}</span>
    {{ sku }}
  </p>
</div>
