{%- comment -%}
  Renders a product text block

  Accepts:
  - block: {Object} - the block to render
  - data_id: {String} - the data-id attribute

  Usage:
    {%- render 'product-text',
        block: block,
        data_id: 'product-text'
    -%}
{%- endcomment -%}

{%- liquid
  assign text = block.settings.text
  assign attributes = block.shopify_attributes
%}

<div
  data-id='{{ data_id }}'
  {{ attributes }}
  class='{{ class }}'
>
  {% if text != blank %}
    <p class='tracking-widest uppercase font-light' {{ attributes }}>
      {{ text }}
    </p>
  {% endif %}
</div>
