{%- comment -%}
  Renders product media

  Accepts:
    - media: {Object} - the media to render
    - section: {Object} - the section to render
    - class: {String} - the class to apply to

  Usage:
    {%- render 'product-media',
        media: media,
        section: section,
        class: 'prose-sm'
    -%}
{%- endcomment -%}

{% case media.media_type %}
  {% when 'image' %}
    <div
      data-media-id='{{ media.id }}'
      class='aspect-w-2 aspect-h-3'
      data-animate-repeat
      data-animate='fade-in'
    >
      {% render 'cmp-media', media: media, loading: 'eager', class: 'media--fill' %}
    </div>
  {% when 'external_video' %}
    <div data-media-id='{{ media.id }}' class='aspect-w-16 aspect-h-9'>
      {{ media | external_video_tag: class: 'w-full h-full' }}
    </div>
  {% when 'video' %}
    <div data-media-id='{{ media.id }}'>
      {% render 'cmp-media',
        media: media,
        lazy_load: true,
        animation: 'fade-in',
        class: 'media--fill'
      %}
    </div>
  {% when 'model' %}
    <div data-media-id='{{ media.id }}' class='aspect-h-1 aspect-w-1'>
      {{ media | model_viewer_tag: class: 'w-full h-full' }}
    </div>
  {% else %}
    <div data-media-id='{{ media.id }}'>
      {{ media | media_tag }}
    </div>
{% endcase %}
