{% liquid
  assign accessibility_close = 'accessibility.close' | t
  assign component_id = 'search-drawer'
%}

<button
  data-id='{{  component_id | append: '-open-button' }}'
  aria-expanded='false'
  type='button'
  class='flex gap-sm items-center {{ class }}'
  aria-controls='{{ component_id | append: '-menu' }}'
>
  <span>Search</span>
</button>

<cmp-search-drawer
  data-id='{{ component_id }}'
  data-section='{{ section.id }}'
  class='group/parent fixed -z-10'
>
  <div
    data-id='{{  component_id | append: '-overlay' }}'
    class='bg-background/5 backdrop-blur-sm transition-all duration-[600ms] ease-in-out group-data-[open]/parent:visible invisible group-data-[open]/parent:opacity-100 opacity-0 group-data-[open]/parent:pointer-events-auto pointer-events-none fixed inset-0 z-30'
  ></div>
  <div
    id='{{ component_id |  append: '-menu' }}'
    tabindex='0'
    class='p-lg pt-20 max-h-dvh border-b-[1px] border-border/20 fixed z-40 left-0 right-0 top-0 group-data-[open]/parent:translate-y-0 transition-all duration-[600ms] ease-in-out -translate-y-full group/menu bg-background text-foreground overflow-y-auto'
    data-id='{{  component_id | append: '-menu' }}'
  >
    <cmp-predictive-search
      data-id='predictive-search'
      class='group/predictive'
    >
      {%- render 'search-form', search: search -%}
      <div
        class='group-data-[results-open]/predictive:block hidden group-data-[results-open]/predictive:opacity-100 opacity-0 group-data-[results-open]/predictive:pointer-events-auto pointer-events-none overflow-y-auto'
        data-id='{{ "predictive-search" |  append: '-container' }}'
        tabindex='-1'
      ></div>
    </cmp-predictive-search>
  </div>
</cmp-search-drawer>
