<footer class='grid grid-cols-12 gap-lg p-lg'>
  <div class='flex col-span-4 flex-col gap-md'>
    <div class='space-y-sm'>
      <h2 class='text-2xl'>Newsletter</h2>
      <p>
        Stay informed with the latest updates from HIMAWARI GARMENTS. Enter your
        email to subscribe to our newsletter. Your privacy is our priority. Sign up
        now.
      </p>
    </div>
    {%- form 'customer',
      id: 'ContactFooter',
      class: 'group/form space-y-sm',
      novalidate: true
    -%}
      <input type='hidden' name='contact[tags]' value='newsletter'>

      <label class='relative block' for='NewsletterForm--{{ section.id }}'>
        <span class='sr-only'>{{ 'newsletter.label' | t }}</span>
        <input
          id='NewsletterForm--{{ section.id }}'
          type='email'
          name='contact[email]'
          class='input'
          value='{{ form.email }}'
          aria-required='true'
          autocorrect='off'
          autocapitalize='off'
          autocomplete='email'
          {% if form.errors %}
            autofocus
            aria-invalid='true'
            aria-describedby='ContactFooter-error'
          {% elsif form.posted_successfully? %}
            aria-describedby='ContactFooter-success'
          {% endif %}
          placeholder='{{ 'newsletter.label' | t }}'
          required
        >
        <button
          type='submit'
          class='absolute top-0 bottom-0 right-0 px-md group-valid/form:visible invisible group-valid/form:opacity-100 opacity-0 transition-all duration-300 ease-in-out'
          name='commit'
          id='Subscribe'
          aria-label='{{ 'newsletter.button_label' | t }}'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='w-5 h-auto fill-on-accent'
            viewBox='0 0 256 256'
          >
            <path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path>
          </svg>
        </button>
      </label>
      {%- if form.errors -%}
        <p
          id='ContactFooter-error'
        >
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </p>
      {%- endif -%}
      {% if shop.privacy_policy.body != blank %}
        <label
          for='ContactFooter-privacy-policy'
          class='flex gap-sm items-center'
        >
          <div class='h-5 w-5 border-[1px] overflow-hidden border-on-accent/20 rounded-md flex items-center justify-center'>
            <input
              id='ContactFooter-privacy-policy'
              type='checkbox'
              required
              name='contact[privacy_policy]'
              class='peer sr-only'
            >
            <div class='flex rounded-sm items-center justify-center peer-checked:visible h-5 w-5 bg-on-accent invisible peer-checked:opacity-100 opacity-0 transition-all duration-300 ease-in-out'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-3 w-auto fill-accent'
                fill='currentColor'
                viewBox='0 0 256 256'
              >
                <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </div>
          <p>
            {{ 'newsletter.privacy_policy_html' | t: link: shop.privacy_policy.url }}
          </p>
        </label>
      {% endif %}

      {%- if form.posted_successfully? -%}
        <h3
          id='ContactFooter-success'
          tabindex='-1'
          autofocus
        >
          {{- 'newsletter.success' | t }}
        </h3>
      {%- endif -%}
    {%- endform -%}
  </div>

  {%- assign menus = section.blocks | where: 'type', 'link_list' -%}
  {% if menus.size > 0 %}
    <div class='col-span-full grid grid-cols-12 gap-lg'>
      {% for block in section.blocks %}
        {% if block.type == 'link_list' and block.settings.menu != blank %}
          <ul class='col-span-2'>
            <li class='mb-md font-black uppercase'>{{ block.settings.heading }}</li>
            {%- for link in block.settings.menu.links -%}
              <li>
                <a
                  href='{{ link.url }}'
                  class='link text-sm {% if link.active %}underline{% else %}no-underline{% endif %}'
                >
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class='col-span-full gap-lg flex'>
    {% if localization.available_languages.size > 1
      or localization.available_countries.size > 1
    %}
      {%- render 'country-selector' -%}

      {%- render 'language-selector' -%}
    {% endif %}
  </div>

  <div class='flex col-span-full justify-between items-center border-t-[1px] border-on-accent/20 pt-lg'>
    <p class='font-black'>
      <span>© HIMAWARI GARMENTS</span>
    </p>
    <div class='flex gap-md'>
      {% for type in shop.enabled_payment_types -%}
        {{ type | payment_type_svg_tag: class: 'mix-blend-luminosity w-auto h-7' }}
      {% endfor %}
    </div>
  </div>
</footer>

{%- schema -%}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ]
}
{%- endschema -%}
