{%- comment -%}
  Collection section

  The collection page allows customers to browse a collection of products
  with thumbnails, titles, and prices for easy browsing and purchase.

  Usage:
    - title: Title for the collection page.
    - size: Number of products in the collection.
    - description: Description for the collection page.
    - infinite_scroll: Enable infinite scroll for the collection page.
    - items_per_page: Number of items to display per page.
    - lazy_load: Enable lazy loading for the collection page.
    - show_vendor: Show the vendor for each product.
    - show_price: Show the price for each product.
    - show_secondary_image: Show the secondary image for each product.
    - show_badges: Show the badges for each product.
    - paginate: Enable pagination for the collection page.
    - collection: The collection to display.
    - section: The section to render.
{%- endcomment -%}

{%- liquid
  assign section_id = 'section-' | append: section.id
  assign title = collection.title | escape
  assign size = collection.products.size
  assign image = collection.image
  assign filters = collection.filters
  assign collection_empty = 'sections.collection_template.empty' | t
  assign collection_title = 'sections.collection_template.title' | t
  assign use_fewer_filters_html = 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: 'underlined-link link'
-%}

<section
  id='{{ section_id }}'
  class='grid grid-cols-12 gap-lg gap-y-lg px-lg'
>
  <!-- Collection image -->
  {%- if image != blank -%}
    <div
      data-animate='fade-in'
      data-animate-repeat
      class='relative col-span-full border-b-[1px] border-border/10 aspect-w-16 aspect-h-7'
    >
      {% render 'cmp-media',
        media: image,
        lazy_load: true,
        animation: 'fade-in',
        class: 'media--fill',
        type: 'image'
      %}
    </div>
  {%- endif -%}

  {%- if collection.description != blank -%}
    <!-- Collection description -->
    <div class='col-start-5 col-span-full'>
      <div
        class=' prose-strong:font-bold text-foreground'
      >
        {{ collection.description }}
      </div>
    </div>
  {%- endif -%}

  <!-- Collection header -->
  <div class='col-start-5 col-span-full grid grid-cols-8 gap-lg sticky top-20 z-10 justify-between'>
    <h1 class='flex items-center gap-sm col-span-4'>
      <span class='sr-only'>{{ collection_title }}</span>
      <span class='font-black uppercase'>{{ title }}</span>
      <sup class='text-xs'>{{ size }}</sup>
    </h1>

    <!-- Open button -->
    <button
      data-id='filter-drawer-open-button'
      class='font-black uppercase flex items-center col-span-4 gap-sm'
    >
      <span>Filter / Sort</span>
      <sup>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='w-4 h-4'
          viewBox='0 0 256 256'
        >
          <path d="M64,105V40a8,8,0,0,0-16,0v65a32,32,0,0,0,0,62v49a8,8,0,0,0,16,0V167a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,56,152Zm80-95V40a8,8,0,0,0-16,0V57a32,32,0,0,0,0,62v97a8,8,0,0,0,16,0V119a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,128,104Zm104,64a32.06,32.06,0,0,0-24-31V40a8,8,0,0,0-16,0v97a32,32,0,0,0,0,62v17a8,8,0,0,0,16,0V199A32.06,32.06,0,0,0,232,168Zm-32,16a16,16,0,1,1,16-16A16,16,0,0,1,200,184Z"></path>
        </svg>
      </sup>
    </button>
  </div>

  {% if collection.products_count == 0 %}
    <!-- Collection empty -->
    <div class='col-span-full border-t-[1px] border-border/10'>
      <h2 class='text-xl'>{{ collection_empty }}</h2>
      <p class='text-lg'>{{ use_fewer_filters_html }}</p>
    </div>
  {% else %}
    <!-- Collection filter -->
    {%- if section.settings.enable_filtering
      or section.settings.enable_sorting
      and filters != empty
    -%}
      {%- render 'cmp-filter',
        object: collection,
        result_size: collection.products.size,
        section: section,
        enable_sorting: section.settings.enable_sorting,
        enable_filtering: section.settings.enable_filtering
      -%}
    {%- endif -%}

    <!-- Collection grid -->
    {%- # theme-check-disable UndefinedObject -%}
    {%- render 'collection-grid',
      paginate: paginate,
      section: section,
      collection: collection,
      infinite_scroll: section.settings.infinite_scroll,
      items_per_page: section.settings.items_per_page,
      lazy_load: section.settings.lazy_load,
      show_vendor: section.settings.show_vendor,
      show_price: section.settings.show_price,
      show_secondary_image: section.settings.show_secondary_image,
      show_badges: section.settings.show_badges
    -%}
    {%- # theme-check-enable UndefinedObject -%}
  {% endif %}
</section>

{%- schema -%}
{
  "name": "t:sections.main-collection.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "lazy_load",
      "label": "t:sections.general.lazy_load.label",
      "default": true,
      "info": "t:sections.general.lazy_load.info"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "t:sections.general.enable_filtering.label",
      "default": true,
      "info": "t:sections.general.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "t:sections.general.enable_sorting.label",
      "default": true,
      "info": "t:sections.general.enable_sorting.info"
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "t:sections.general.infinite_scroll.label",
      "default": true,
      "info": "t:sections.general.infinite_scroll.info"
    },
    {
      "type": "range",
      "id": "items_per_page",
      "label": "t:sections.general.items_per_page.label",
      "default": 3,
      "min": 1,
      "max": 12,
      "step": 1,
      "info": "t:sections.general.items_per_page.info"
    },
    {
      "type": "header",
      "content": "t:sections.card-product.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.card-product.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.card-product.show_vendor.label",
      "default": true,
      "info": "t:sections.card-product.show_vendor.info"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.card-product.show_price.label",
      "default": true,
      "info": "t:sections.card-product.show_price.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "t:sections.card-product.show_secondary_image.label",
      "default": true,
      "info": "t:sections.card-product.show_secondary_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "label": "t:sections.card-product.show_badges.label",
      "default": true,
      "info": "t:sections.card-product.show_badges.info"
    }
  ]
}
{%- endschema -%}
