{%- comment -%}
  404 section

  The search page in Shopify enables customers to find products quickly by
  entering keywords, displaying relevant results from the store's catalog
  with thumbnails, titles, and prices for easy browsing and purchase.

  Usage:
    - subtext: A message to display on the 404 page.
    - title: Title for the 404 page.
    - continue_shopping: Text for a link to continue shopping.
    - title: Title for the search page.
    - search_title: Title for when search results are displayed.
{%- endcomment -%}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  assign performed = search.performed
  assign size = search.results_count
  assign results_size = search.results.size
  assign filters = search.filters

  assign title = 'templates.search.title' | t
  assign search_title = 'general.search.search' | t
  assign results_with_count_and_term = 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count
  assign no_results = 'templates.search.no_results' | t: terms: search.terms
  assign collection_empty = 'sections.collection_template.empty' | t
  assign use_fewer_filters_html = 'sections.collection_template.use_fewer_filters_html' | t: link: search_url, class: 'underlined-link link'
%}

<section
  id='{{ section.id }}'
  class='flex flex-col'
>
  <!-- Search header -->
  <div class='px-lg py-lg space-y-xl border-b-[1px] border-border/10'>
    <h1 class='text-2xl flex items-center gap-sm'>
      {%- if performed -%}
        {{ search_title }}
        <sup class='text-lg'>{{ size }}</sup>
      {%- else -%}
        <span>
          {{ title }}
        </span>
      {%- endif -%}
    </h1>
  </div>

  <!-- Search form -->
  <div class='px-lg py-lg border-b-[1px] border-border/10'>
    {%- render 'search-form', search: search -%}
  </div>

  <!-- Search results info -->
  {%- if performed -%}
    <div class='p-lg'>
      {%- unless false or false -%}
        {%- if size > 0 -%}
          <p role='status'>
            {{ results_with_count_and_term }}
          </p>
        {%- endif -%}
      {%- endunless -%}
      {%- if size == 0 and filters == empty -%}
        <p role='status'>
          {{ no_results }}
        </p>
      {%- endif -%}
    </div>
  {%- endif -%}

  <!-- Search filters -->
  {%- if performed -%}
    {%- if section.settings.enable_filtering
      or section.settings.enable_sorting
      and filters != empty
    -%}
      {%- render 'cmp-filter',
        object: search,
        section: section,
        result_size: size,
        enable_sorting: section.settings.enable_sorting,
        enable_filtering: section.settings.enable_filtering
      -%}
    {%- endif -%}
  {%- endif -%}

  {%- if performed and results_size == 0 and filters != empty -%}
    <!-- Search results -->
    <!-- Collection empty -->
    <div class='p-lg border-t-[1px] border-border/10'>
      <h2 class='text-xl'>{{ collection_empty }}</h2>
      <p class='text-lg'>{{ use_fewer_filters_html }}</p>
    </div>
  {%- else -%}
    {%- # theme-check-disable UndefinedObject -%}
    {%- render 'search-grid',
      paginate: paginate,
      section: section,
      search: search,
      infinite_scroll: section.settings.infinite_scroll,
      items_per_page: section.settings.items_per_page,
      lazy_load: section.settings.lazy_load,
      show_vendor: section.settings.show_vendor,
      show_price: section.settings.show_price,
      show_secondary_image: section.settings.show_secondary_image,
      show_badges: section.settings.show_badges
    -%}
    {%- # theme-check-enable UndefinedObject -%}
  {%- endif -%}
</section>

{%- schema -%}
{
  "name": "t:sections.main-search.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "lazy_load",
      "label": "t:sections.general.lazy_load.label",
      "default": true,
      "info": "t:sections.general.lazy_load.info"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "t:sections.general.enable_filtering.label",
      "default": true,
      "info": "t:sections.general.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "t:sections.general.enable_sorting.label",
      "default": true,
      "info": "t:sections.general.enable_sorting.info"
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "t:sections.general.infinite_scroll.label",
      "default": true,
      "info": "t:sections.general.infinite_scroll.info"
    },
    {
      "type": "range",
      "id": "items_per_page",
      "label": "t:sections.general.items_per_page.label",
      "default": 3,
      "min": 1,
      "max": 12,
      "step": 1,
      "info": "t:sections.general.items_per_page.info"
    },
    {
      "type": "header",
      "content": "t:sections.card-product.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.card-product.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.card-product.show_vendor.label",
      "default": true,
      "info": "t:sections.card-product.show_vendor.info"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.card-product.show_price.label",
      "default": true,
      "info": "t:sections.card-product.show_price.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "t:sections.card-product.show_secondary_image.label",
      "default": true,
      "info": "t:sections.card-product.show_secondary_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "label": "t:sections.card-product.show_badges.label",
      "default": true,
      "info": "t:sections.card-product.show_badges.info"
    }
  ]
}
{%- endschema -%}
