<section class='grid grid-cols-2 h-dvh'>
  <div
    data-animate='fade-in'
    data-animate-repeat
    class='h-[inherit] border-r-[1px] border-border/10'
  >
    {% render 'cmp-media',
      lazyload: 'eager',
      media: section.settings.image,
      class: 'media--fill'
    %}
  </div>
  <div class='flex items-center justify-center'>
    <div class='flex gap-lg flex-col'>
      {% if settings.logo != null %}
        <a href='{{ shop.url }}' class='flex items-center gap-sm'>
          <img
            style='width: {{ settings.logo_width }}px;'
            src='{{ settings.logo | img_url: '300x' }}'
            alt='{{ shop.name }}'
          >
        </a>
      {% else %}
        <h1 class='text-3xl font-bold'>{{ shop.name }}</h1>
      {% endif %}

      {% unless shop.password_message == blank %}
        <h2>{{ shop.password_message }}</h2>
        >
      {% endunless %}

      {% form 'storefront_password', class: 'max-w-2xl space-y-sm' %}
        <label
          for='password'
        >
          <input
            type='password'
            name='password'
            class='input w-full'
            placeholder='{{ 'templates.password.placeholder' | t }}'
          >
        </label>

        <button class='btn btn--secondary' type='submit'>
          {{ 'templates.password.button_label' | t }}
        </button>
        <small class='mt-8'>
          {{ form.errors | default_errors }}
        </small>
      {% endform %}
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "t:sections.main-password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-password.settings.image.label",
      "info": "t:sections.main-password.settings.image.info"
    }
  ]
}
{%- endschema -%}
