{%- liquid
  assign post_message = 'blogs.article.success' | t
  if blog.moderated? and comment.status == 'unapproved'
    assign post_message = 'blogs.article.success_moderated' | t
  endif
  assign anchorId = '#Comments-' | append: article.id
-%}

<section id='{{ section.id }}'>
  <article
    itemscope
    itemtype='http://schema.org/BlogPosting'
  >
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div
              {{ block.shopify_attributes }}
              itemprop='image'
              class='relative border-b-[1px] border-border/10'
              data-animate='fade-in'
              data-animate-repeat
            >
              {% render 'cmp-media',
                media: article.image,
                loading: 'eager',
                class: 'media--fill',
                type: 'image'
              %}
            </div>
          {%- endif -%}
        {%- when 'title' -%}
          <header
            {{ block.shopify_attributes }}
            class='p-lg'
          >
            <h1
              class='text-[10rem] leading-[100%] leading-tight font-bold'
              itemprop='headline'
            >
              {{ article.title | escape }}
            </h1>
            <div class='flex items-center gap-sm'>
              {%- if block.settings.blog_show_date -%}
                <span
                  class='tracking-widest uppercase'
                  itemprop='dateCreated pubdate datePublished'
                >
                  {{- article.published_at | time_tag: format: 'date' -}}
                </span>
              {%- endif -%}
              {%- if block.settings.blog_show_date
                and block.settings.blog_show_author
              -%}
                <span>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='h-8 w-auto'
                    fill='currentColor'
                    viewBox='0 0 256 256'
                  >
                    <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"></path>
                  </svg>
                </span>
              {%- endif -%}
              {%- if block.settings.blog_show_author -%}
                <span
                  class='tracking-widest uppercase'
                  itemprop='author'
                  itemscope
                  itemtype='http://schema.org/Person'
                >
                  <span itemprop='name'>{{ article.author }}</span>
                </span>
              {%- endif -%}
            </div>
          </header>
        {%- when 'content' -%}
          <div
            class='p-lg grid grid-cols-12'
            {{ block.shopify_attributes }}
          >
            <div
              itemprop='articleBody'
              class='prose text-foreground max-w-[initial] col-start-2 col-span-12'
            >
              {{ article.content }}
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}

    <div class='p-lg grid grid-cols-4 bg-foreground text-background'>
      {% comment %}
        <div class='col-start-2 col-span-full'>
          <a href='{{ blog.url }}' class='no-underline items-center flex gap-sm'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-5 w-auto fill-accent'
              viewBox='0 0 256 256'
            >
              <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
            </svg>
            <span>
              {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
            </span>
          </a>
        </div>
      {% endcomment %}

      {%- if blog.comments_enabled? -%}
        <div class='col-start-2 col-span-full'>
          {%- if article.comments_count > 0 -%}
            <h2 class='text-xl mb-md' id='Comments-{{ article.id }}' tabindex='-1'>
              {{ 'blogs.article.comments' | t: count: article.comments_count }}
            </h2>
            <div class='space-y-sm'>
              {% paginate article.comments by 5 %}
                {%- if comment.status == 'pending' and comment.content -%}
                  <article
                    id='{{ comment.id }}'
                    class='flex flex-col gap-md p-md bg-on-accent/5 rounded-md'
                  >
                    {{ comment.content }}
                    <footer class='text-sm opacity-80'>
                      <span class='tracking-widest uppercase'>
                        {{- comment.author -}}
                      </span>
                    </footer>
                  </article>
                {%- endif -%}

                {%- for comment in article.comments -%}
                  <article
                    id='{{ comment.id }}'
                    class='flex flex-col gap-md p-md bg-on-accent/5 rounded-md'
                  >
                    {{ comment.content }}
                    <footer class='flex items-center gap-sm text-sm opacity-80'>
                      <span class='tracking-widest uppercase'>
                        {{- comment.author -}}
                      </span>
                      <span>·</span>
                      <span class='tracking-widest uppercase'>
                        {{- comment.created_at | time_tag: format: 'date' -}}
                      </span>
                    </footer>
                  </article>
                {%- endfor -%}

                <div class='p-md'>
                  {%- render 'cmp-paginator-nav',
                    paginate: paginate,
                    color: 'text-on-accent',
                    anchor: anchorId
                  -%}
                </div>
              {% endpaginate %}
            </div>
          {%- endif -%}
          {% form 'new_comment', article, novalidate: true, class: 'max-w-lg' %}
            <h2
              class='text-xl mb-md'
            >
              {{ 'blogs.article.comment_form_title' | t }}
            </h2>
            {%- if form.errors -%}
              <div role='status'>
                <h3 tabindex='-1' autofocus>
                  {{ 'templates.contact.form.error_heading' | t }}
                </h3>
              </div>
              <ul>
                {%- for field in form.errors -%}
                  <li>
                    <a href='#CommentForm-{{ field }}' class='link'>
                      {%- if form.errors.translated_fields[field] contains 'author'
                      -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body'
                      -%}
                        {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- elsif form.posted_successfully? -%}
              <div role='status' class='flex gap-sm mb-md justify-start'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-5 w-auto fill-on-accent'
                  fill='currentColor'
                  viewBox='0 0 256 256'
                >
                  <path d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-52.2,6.84-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path>
                </svg>
                <h3 tabindex='-1' autofocus>
                  {{ post_message }}
                </h3>
              </div>
            {%- endif -%}

            <div class='space-y-sm'>
              <label for='CommentForm-author' class='flex flex-col gap-sm'>
                <span class='text-sm'>
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden='true'>*</span>
                </span>
                <input
                  type='text'
                  name='comment[author]'
                  id='CommentForm-author'
                  autocomplete='name'
                  value='{{ form.author }}'
                  aria-required='true'
                  class='input input--outline ring-on-accent/20 placeholder:text-on-accent/50'
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid='true'
                    aria-describedby='CommentForm-author-error'
                  {% endif %}
                  placeholder='{{ 'blogs.article.name' | t }}'
                >
                {%- if form.errors contains 'author' -%}
                  <small
                    id='CommentForm-author-error'
                    class='flex gap-sm items-center'
                  >
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      class='h-4 w-auto fill-on-accent'
                      fill='currentColor'
                      viewBox='0 0 256 256'
                    >
                      <path d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82ZM120,80a8,8,0,0,1,16,0v56a8,8,0,0,1-16,0Zm8,104a12,12,0,1,1,12-12A12,12,0,0,1,128,184Z"></path>
                    </svg>
                    <span>
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </label>
              <label for='CommentForm-email' class='flex flex-col gap-sm'>
                <span class='text-sm'>
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden='true'>*</span>
                </span>
                <input
                  type='email'
                  name='comment[email]'
                  id='CommentForm-email'
                  autocomplete='email'
                  value='{{ form.email }}'
                  autocorrect='off'
                  autocapitalize='off'
                  class='input input--outline ring-on-accent/20 placeholder:text-on-accent/50'
                  aria-required='true'
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid='true'
                    aria-describedby='CommentForm-email-error'
                  {% endif %}
                  placeholder='{{ 'blogs.article.email' | t }}'
                >
                {%- if form.errors contains 'email' -%}
                  <small
                    id='CommentForm-email-error'
                    class='flex gap-sm items-center'
                  >
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      class='h-4 w-auto fill-on-accent'
                      fill='currentColor'
                      viewBox='0 0 256 256'
                    >
                      <path d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82ZM120,80a8,8,0,0,1,16,0v56a8,8,0,0,1-16,0Zm8,104a12,12,0,1,1,12-12A12,12,0,0,1,128,184Z"></path>
                    </svg>
                    <span>
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </label>
              <label for='CommentForm-body' class='flex flex-col gap-sm'>
                <span class='text-sm'>
                  {{- 'blogs.article.message' | t }}
                  <span aria-hidden='true'>*</span>
                </span>
                <textarea
                  rows='5'
                  name='comment[body]'
                  id='CommentForm-body'
                  aria-required='true'
                  class='input input--outline ring-on-accent/20 placeholder:text-on-accent/50'
                  required
                  {% if form.errors contains 'body' %}
                    aria-invalid='true'
                    aria-describedby='CommentForm-body-error'
                  {% endif %}
                  placeholder='{{ 'blogs.article.message' | t }}'
                >{{ form.body }}</textarea>
                {%- if form.errors contains 'body' -%}
                  <small
                    id='CommentForm-body-error'
                    class='flex gap-sm items-center'
                  >
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      class='h-4 w-auto fill-on-accent'
                      fill='currentColor'
                      viewBox='0 0 256 256'
                    >
                      <path d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82ZM120,80a8,8,0,0,1,16,0v56a8,8,0,0,1-16,0Zm8,104a12,12,0,1,1,12-12A12,12,0,0,1,128,184Z"></path>
                    </svg>
                    <span>
                      {{- 'blogs.article.message' | t }}
                      {{ form.errors.messages.body }}.</span
                    >
                  </small>
                {%- endif -%}
              </label>
              {%- if blog.moderated? -%}
                <small>
                  {{ 'blogs.article.moderated' | t }}
                </small>
              {%- endif -%}
              <input
                type='submit'
                class='btn btn--secondary ring-on-accent/20'
                value='{{ 'blogs.article.post' | t }}'
              >
            </div>
          {% endform %}
        </div>
      {%- endif -%}
    </div>
  </article>
</section>

<script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{%- schema -%}
{
  "name": "t:sections.main-article.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    }
  ]
}
{%- endschema -%}
