<!doctype html>
<html class='no-js' lang='{{- request.locale.iso_code -}}'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='theme-color' content=''>
    <link rel='canonical' href='{{- canonical_url -}}'>

    {%- if settings.favicon != blank -%}
      <link
        rel='icon'
        type='image/png'
        href='{{- settings.favicon | image_url: width: 32, height: 32 -}}'
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system?
      and settings.type_body_font.system?
    -%}
      <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>
    {%- endunless -%}

    {%- if page_description -%}
      <meta name='description' content='{{- page_description | escape -}}'>
    {%- endif -%}

    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        &ndash; tagged "
        {{- current_tags | join: ', ' -}}
        "
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; Page
        {{- current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name -%}
        &ndash;
        {{- shop.name -}}
      {%- endunless -%}
    </title>

    {%- render 'meta-tags' -%}

    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link
        rel='preload'
        as='font'
        href='{{ settings.type_body_font | font_url }}'
        type='font/woff2'
        crossorigin
      >
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link
        rel='preload'
        as='font'
        href='{{ settings.type_header_font | font_url }}'
        type='font/woff2'
        crossorigin
      >
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    -%}

    {%- style -%}
      {{- settings.type_body_font | font_face: font_display: 'swap' -}}
      {{- body_font_bold | font_face: font_display: 'swap' -}}
      {{- body_font_italic | font_face: font_display: 'swap' -}}
      {{- body_font_bold_italic | font_face: font_display: 'swap' -}}
      {{- settings.type_header_font | font_face: font_display: 'swap' -}}

      :root {
      --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
      --font-body-style: {{ settings.type_body_font.style }};
      --font-body-weight: {{ settings.type_body_font.weight }};

      --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
      --font-heading-style: {{ settings.type_header_font.style }};
      --font-heading-weight: {{ settings.type_header_font.weight }};
      }
    {%- endstyle -%}

    <script
      src='{{- 'sakura.js' | asset_url -}}'
      defer
    ></script>
    {{- 'global.css' | asset_url | stylesheet_tag -}}

    {{ content_for_header }}

    <script>
      document.documentElement.className =
        document.documentElement.className.replace('no-js', 'js')
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode')
      }
    </script>
  </head>

  <body data-barba='wrapper' class='mt-20'>
    <a class='sr-only' href='#main'>
      {{- 'accessibility.skip_to_text' | t -}}
    </a>

    {%- if request.page_type != 'cart' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    <cmp-cursor class='group/cursor'>
      <svg
        id='cursor-normal'
        class='group-data-[down]/cursor:!scale-75 h-12 absolute inset-0 place-self-center w-auto group-data-[active]/cursor:opacity-0  group-data-[active]/cursor:rotate-90 group-data-[active]/cursor:scale-50 transition-all duration-300 ease-in-out'
        viewBox='0 0 159 200'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M148.041 86.2969L95.4439 101.88L158.693 183.17L138.301 199.037L75.0514 117.747L47.0178 164.899C47.0178 164.899 41.0206 116.064 31.5663 83.1596C22.5967 51.9436 0.503082 0.896285 0.503082 0.896285C0.503082 0.896285 44.5534 34.8598 72.6069 51.2273C102.177 68.4796 148.041 86.2969 148.041 86.2969Z" fill="#EB5757"/>
      </svg>
      <svg
        class='group-data-[down]/cursor:!scale-75 h-12 absolute inset-0 place-self-center w-auto group-data-[link]/cursor:opacity-100 group-data-[link]/cursor:rotate-0 opacity-0 -rotate-90 group-data-[link]/cursor:scale-100 scale-50transition-all duration-300 ease-in-out'
        id='cursor-enter'
        viewBox='0 0 253 186'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d="M180.13 111.69H0V73.6899H180.13L133.31 26.87L160.18 0L252.87 92.6899L160.18 185.38L133.31 158.51L180.13 111.69Z" fill="#F2C94C"/>
      </svg>
      <svg
        class='group-data-[down]/cursor:!scale-75 h-12 absolute inset-0 place-self-center w-auto group-data-[zoom]/cursor:opacity-100 group-data-[zoom]/cursor:rotate-0 opacity-0 -rotate-90 group-data-[zoom]/cursor:scale-100 scale-50 transition-all duration-300 ease-in-out'
        viewBox='0 0 251 157'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M251 78.5C251 78.5 194.812 157 125.5 157C56.1885 157 0 78.5 0 78.5C0 78.5 56.1885 0 125.5 0C194.812 0 251 78.5 251 78.5ZM182.779 78.5C182.779 110.043 157.135 135.614 125.5 135.614C93.865 135.614 68.2207 110.043 68.2207 78.5C68.2207 46.957 93.865 21.3859 125.5 21.3859C157.135 21.3859 182.779 46.957 182.779 78.5ZM125.5 111.228C143.628 111.228 158.323 96.575 158.323 78.5C158.323 60.425 143.628 45.772 125.5 45.772C107.372 45.772 92.677 60.425 92.677 78.5C92.677 96.575 107.372 111.228 125.5 111.228Z" fill="#F0C3D2"/>
      </svg>
    </cmp-cursor>

    <header
      data-animate='fade-in'
      data-animate-repeat
      class='transition-all  text-secondary gap-sm uppercase duration-300 ease-in-out fixed top-0 z-20 grid grid-cols-12  w-full px-md h-20'
    >
      <div class='flex gap-sm col-span-4 items-center'>
        {% comment %}
          <span class=' text-2xl font-medium uppercase tracking-widest'
            >HIMAWARI GARMENTS</span
          >
        {% endcomment %}
        {% if settings.logo != null %}
          <a href='{{ shop.url }}' class='flex items-center gap-sm'>
            <img
              style='width: {{ settings.logo_width }}px;'
              src='{{ settings.logo | img_url: '300x' }}'
              alt='{{ shop.name }}'
            >
          </a>
        {% else %}
          <h1 class='text-3xl font-bold'>{{ shop.name }}</h1>
        {% endif %}
      </div>
      <div class='font-black col-span-4 start-5 flex gap-lg items-center'>
        <a class='no-underline' href='/blogs/news'>Blog</a>
        <a class='no-underline' href='/collections/all'>Latest</a>
        <a class='no-underline' href='/collections/archive'>Archive</a>
      </div>
      <div class='font-black col-start-9 uppercase flex items-center gap-lg'>
        <a class='no-underline' href='/search'>Search</a>
        {% comment %} <a class='no-underline' href='/cart'>Cart</a> {% endcomment %}
        <button
          type='button'
          aria-label='Open Cart'
          data-id='cart-drawer-open-button'
          class='flex items-center gap-sm uppercase'
        >
          <span>Cart</span>
          {%- if cart != empty -%}
            <sup class='text-xs'>{{ cart.item_count }}</sup>
          {%- endif -%}
        </button>
      </div>
    </header>

    <main
      id='main'
      role='main'
      tabindex='-1'
      data-barba-namespace='{{ request.page_type }}'
      data-barba='container'
    >
      <div class='grid grid-cols-12 gap-sm px-md py-lg text-secondary'>
        <svg
          class='w-full h-auto col-span-full'
          viewBox='0 0 1440 414'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path d="M45.3204 208H0V0H45.3204V82.0757H125.33V0H170.651V208H125.33V124.238H45.3204V208Z" fill="#ED9455"/>
          <path d="M258.962 0V208H213.641V0H258.962Z" fill="#ED9455"/>
          <path d="M346.079 208H302.158V0H346.079L407.626 155.157L469.452 0H513.933V208H470.011V164.432C470.011 153.189 470.011 143.914 470.011 136.605C470.011 129.297 470.104 123.207 470.291 118.335C470.477 113.463 470.664 109.247 470.85 105.686C471.223 101.939 471.69 98.0973 472.249 94.1622L428.328 208H386.924L343.282 94.1622C344.587 101.845 345.333 110.184 345.52 119.178C345.893 128.173 346.079 138.386 346.079 149.816V208Z" fill="#ED9455"/>
          <path d="M585.308 208H538.029L611.884 0H656.086L729.661 208H681.543L666.996 164.151H600.135L585.308 208ZM628.11 81.5135L613.283 125.924H654.127L639.3 81.5135C638.181 77.9532 637.062 74.2991 635.943 70.5513C634.824 66.8036 634.078 63.7117 633.705 61.2757C633.332 63.7117 632.586 66.8036 631.467 70.5513C630.535 74.1117 629.416 77.7658 628.11 81.5135Z" fill="#ED9455"/>
          <path d="M774.748 208L712.642 0H759.921L787.057 90.227C788.922 96.4108 790.694 102.969 792.372 109.903C794.051 116.649 795.73 125.175 797.408 135.481C799.087 125.175 800.765 116.649 802.444 109.903C804.122 103.157 805.894 96.5982 807.759 90.227L833.217 0H883.853L908.191 90.227C909.87 96.5982 911.548 103.25 913.227 110.184C914.905 117.117 916.677 125.55 918.542 135.481C920.594 124.987 922.459 116.461 924.137 109.903C925.816 103.157 927.588 96.7856 929.453 90.7892L957.149 0H1003.31L940.083 208H895.882L858.115 71.3946L819.229 208H774.748Z" fill="#ED9455"/>
          <path d="M1033.63 208H986.348L1060.2 0H1104.4L1177.98 208H1129.86L1115.32 164.151H1048.45L1033.63 208ZM1076.43 81.5135L1061.6 125.924H1102.45L1087.62 81.5135C1086.5 77.9532 1085.38 74.2991 1084.26 70.5513C1083.14 66.8036 1082.4 63.7117 1082.02 61.2757C1081.65 63.7117 1080.91 66.8036 1079.79 70.5513C1078.85 74.1117 1077.73 77.7658 1076.43 81.5135Z" fill="#ED9455"/>
          <path d="M1247.39 208H1202.07V0H1282.08C1307.26 0 1326.66 5.9027 1340.27 17.7081C1354.07 29.3261 1360.98 45.9099 1360.98 67.4595C1360.98 80.9514 1358.08 92.4757 1352.3 102.032C1346.71 111.589 1338.13 119.366 1326.57 125.362L1362.93 208H1313.42L1282.36 135.2H1247.39V208ZM1247.39 40.4757V95.2865H1281.8C1291.69 95.2865 1299.34 92.8504 1304.74 87.9784C1310.34 83.1063 1313.14 76.2667 1313.14 67.4595C1313.14 58.6522 1310.43 52 1305.02 47.5027C1299.8 42.818 1292.16 40.4757 1282.08 40.4757H1247.39Z" fill="#ED9455"/>
          <path d="M1440 0V208H1394.68V0H1440Z" fill="#ED9455"/>
          <path d="M95.1981 257.353C83.8286 257.353 74.3258 259.909 66.6896 265.02C59.0534 269.96 53.2838 276.945 49.3808 285.974C45.4779 295.003 43.5264 305.651 43.5264 317.917C43.5264 330.523 45.7324 341.086 50.1444 349.604C54.5565 358.122 60.5806 364.51 68.2168 368.769C76.0227 372.858 84.9316 374.902 94.9435 374.902C103.428 374.902 110.64 373.795 116.579 371.58C122.519 369.365 127.27 366.299 130.834 362.381C134.567 358.462 137.282 354.033 138.979 349.093C140.846 344.152 141.779 339.041 141.779 333.76V318.683L161.379 338.36H91.6345V302.073H180.215V410.678H144.833L141.524 384.868L146.106 388.701C143.391 393.642 139.149 397.986 133.379 401.734C127.779 405.482 121.161 408.378 113.525 410.422C106.058 412.467 98.0829 413.489 89.5982 413.489C72.1198 413.489 56.5928 409.485 43.0173 401.478C29.6115 393.301 19.0905 381.972 11.4543 367.492C3.8181 353.011 0 336.06 0 316.639C0 297.558 3.9878 280.693 11.9634 266.042C19.939 251.22 31.1388 239.636 45.5627 231.288C59.9867 222.77 76.8712 218.511 96.2162 218.511C111.319 218.511 124.894 221.322 136.943 226.944C149.161 232.395 159.088 240.232 166.724 250.454C174.36 260.505 178.857 272.345 180.215 285.974H136.943C134.567 275.923 129.476 268.682 121.67 264.253C113.864 259.653 105.04 257.353 95.1981 257.353Z" fill="#ED9455"/>
          <path d="M239.976 410.678H196.959L264.157 221.578H304.375L371.319 410.678H327.538L314.302 370.814H253.466L239.976 410.678ZM278.92 295.684L265.43 336.06H302.593L289.102 295.684C288.084 292.448 287.066 289.126 286.048 285.718C285.029 282.311 284.351 279.5 284.011 277.286C283.672 279.5 282.993 282.311 281.975 285.718C281.126 288.955 280.108 292.277 278.92 295.684Z" fill="#ED9455"/>
          <path d="M434.476 410.678H393.241V221.578H466.039C488.948 221.578 506.596 226.944 518.984 237.677C531.541 248.239 537.82 263.316 537.82 282.907C537.82 295.173 535.19 305.651 529.929 314.339C524.838 323.027 517.032 330.097 506.511 335.549L539.602 410.678H494.548L466.294 344.493H434.476V410.678ZM434.476 258.375V308.206H465.785C474.779 308.206 481.736 305.991 486.657 301.562C491.748 297.133 494.293 290.914 494.293 282.907C494.293 274.9 491.833 268.853 486.912 264.764C482.16 260.505 475.203 258.375 466.039 258.375H434.476Z" fill="#ED9455"/>
          <path d="M608.449 410.678H568.486V221.578H608.449L664.448 362.636L720.701 221.578H761.173V410.678H721.21V371.069C721.21 360.847 721.21 352.415 721.21 345.771C721.21 339.126 721.295 333.59 721.465 329.16C721.634 324.731 721.804 320.898 721.974 317.661C722.313 314.254 722.737 310.761 723.246 307.184L683.284 410.678H645.612L605.903 307.184C607.091 314.169 607.77 321.75 607.94 329.927C608.279 338.104 608.449 347.389 608.449 357.781V410.678Z" fill="#ED9455"/>
          <path d="M920.04 410.678H800.406V221.578H920.04V259.909H830.187L841.641 249.176V296.962H911.131V333.249H841.641V383.08L830.187 372.347H920.04V410.678Z" fill="#ED9455"/>
          <path d="M994.503 410.678H953.776V221.578H994.503L1086.65 361.103H1073.92V221.578H1114.65V410.678H1073.92L981.776 271.408H994.503V410.678Z" fill="#ED9455"/>
          <path d="M1234.06 241.51V410.678H1192.82V241.51H1234.06ZM1139.37 259.909V221.578H1287.51V259.909H1139.37Z" fill="#ED9455"/>
          <path d="M1301.78 276.519C1301.78 265.105 1304.75 255.053 1310.69 246.365C1316.63 237.506 1324.78 230.607 1335.13 225.666C1345.65 220.555 1357.61 218 1371.02 218C1384.6 218 1396.3 220.385 1406.15 225.155C1415.99 229.925 1423.54 236.654 1428.8 245.343C1434.23 254.031 1436.95 264.338 1436.95 276.263H1395.96C1395.96 269.619 1393.67 264.423 1389.09 260.675C1384.51 256.757 1378.32 254.798 1370.51 254.798C1362.2 254.798 1355.49 256.587 1350.4 260.164C1345.48 263.742 1343.02 268.682 1343.02 274.986C1343.02 280.778 1344.55 285.207 1347.6 288.274C1350.66 291.34 1355.49 293.555 1362.11 294.918L1390.36 300.795C1407.16 304.202 1419.64 310.165 1427.78 318.683C1435.93 327.031 1440 338.701 1440 353.692C1440 365.788 1437.03 376.435 1431.09 385.635C1425.15 394.664 1416.75 401.649 1405.89 406.589C1395.2 411.53 1382.64 414 1368.22 414C1354.3 414 1342.09 411.615 1331.57 406.845C1321.21 402.075 1313.15 395.346 1307.38 386.657C1301.78 377.798 1298.98 367.492 1298.98 355.737H1339.97C1339.97 362.551 1342.43 367.832 1347.35 371.58C1352.27 375.328 1359.31 377.202 1368.47 377.202C1377.81 377.202 1385.19 375.498 1390.62 372.091C1396.05 368.514 1398.76 363.744 1398.76 357.781C1398.76 352.5 1397.41 348.411 1394.69 345.515C1392.15 342.619 1387.73 340.575 1381.46 339.382L1352.69 333.505C1335.89 330.097 1323.17 323.624 1314.51 314.083C1306.03 304.543 1301.78 292.022 1301.78 276.519Z" fill="#ED9455"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1227.01 147.17C1264.57 202.46 1181.25 224.27 1186.43 158.093C1157.32 217.859 1096.71 156.939 1156.76 128.346C1089.95 133.33 1112.66 50.5992 1167.52 88.1836C1129.95 32.8927 1212.76 10.9464 1208.09 77.2598C1236.83 16.849 1297.43 77.7694 1237.77 107.007C1304.2 101.378 1281.86 184.753 1227.01 147.17ZM1206.49 119.877C1205.13 124.961 1199.83 128.445 1194.74 127.081C1189.65 125.717 1186.29 119.915 1187.66 114.83C1189.02 109.747 1194.69 106.907 1199.78 108.271C1204.87 109.635 1207.85 114.794 1206.49 119.877Z" fill="url(#paint0_linear_57_2)"/>
          <path id="myPath" class="svg-center" d="M226.915 84.5871C205.46 74.0875 179.556 82.9686 169.056 104.424C158.556 125.879 167.438 151.783 188.893 162.282C167.438 151.783 141.533 160.663 131.034 182.119C120.534 203.574 129.415 229.478 150.87 239.978C172.325 250.477 198.229 241.596 208.729 220.141C198.229 241.596 207.11 267.5 228.565 278C250.021 288.5 275.924 279.619 286.424 258.164C296.924 236.708 288.043 210.805 266.588 200.305C288.043 210.805 313.947 201.924 324.447 180.468C334.946 159.013 326.065 133.109 304.61 122.61C283.155 112.11 257.251 120.991 246.751 142.446C257.251 120.991 248.37 95.0869 226.915 84.5871Z" fill="url(#paint1_linear_57_2)"/>
          <path class="svg-center" d="M496.794 112.452C498.221 115.35 500.477 117.57 503.141 118.967C507.15 121.068 512.073 121.298 516.436 119.168C516.447 119.164 516.458 119.16 516.469 119.155C516.479 119.15 516.489 119.145 516.499 119.14L516.515 119.132C516.526 119.127 516.536 119.122 516.546 119.116L532.082 111.39L534.566 128.563C534.567 128.581 534.571 128.596 534.574 128.612C534.575 128.62 534.576 128.627 534.577 128.636C535.777 136.668 543.26 142.223 551.287 141.026C559.32 139.832 564.916 132.317 563.793 124.266L563.791 124.246C563.79 124.23 563.789 124.217 563.784 124.203L561.323 107.034L578.387 109.905C586.402 111.254 594.053 105.803 595.432 97.7584C596.812 89.7141 591.415 82.0666 583.397 80.7077L566.344 77.8171L574.411 62.4113C578.195 55.1757 575.424 46.2192 568.23 42.4477C561.035 38.6762 552.093 41.4929 548.292 48.728L540.212 64.1104L528.133 51.73C528.127 51.727 528.121 51.722 528.115 51.7163C528.107 51.709 528.099 51.7004 528.094 51.6929C522.414 45.9046 513.081 45.8309 507.263 51.5319C501.445 57.2326 501.302 66.5862 506.929 72.4133C506.934 72.4186 506.938 72.4238 506.942 72.429L506.962 72.4508L506.97 72.4604L519.033 84.8567L503.513 92.6C503.506 92.6048 503.498 92.6088 503.489 92.6128C503.481 92.6168 503.473 92.6208 503.466 92.6257C496.199 96.2786 493.205 105.166 496.794 112.452Z" fill="url(#paint2_linear_57_2)"/>
          <path d="M977.542 387.245C999.768 370.568 1031.84 344.459 1045.21 323.578C1055.21 307.978 1058.46 288.651 1054.11 270.681C1044.82 229.747 993.353 213.02 961.295 240.452C959.492 241.985 957.83 243.684 956.124 245.428C955.428 246.14 954.724 246.86 954 247.579C953.276 246.86 952.572 246.14 951.876 245.428C950.17 243.684 948.508 241.985 946.705 240.452C914.647 213.02 863.181 229.747 853.887 270.681C849.537 288.651 852.791 307.978 862.792 323.578C876.158 344.459 908.232 370.568 930.458 387.245C936.651 391.893 954 404 954 404C954 404 971.349 391.893 977.542 387.245Z" fill="url(#paint3_linear_57_2)"/>
          <defs>
            <linearGradient id="paint0_linear_57_2" x1="1277.85" y1="139.15" x2="1116.54" y2="95.9274" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FF7D29"/>
              <stop offset="1" stop-color="#FFF7AB"/>
            </linearGradient>
            <linearGradient id="paint1_linear_57_2" x1="227.74" y1="-109.978" x2="151.695" y2="45.4128" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FFEC9E"/>
              <stop offset="1" stop-color="#5EFF6E"/>
            </linearGradient>
            <linearGradient id="paint2_linear_57_2" x1="568.227" y1="42.4461" x2="522.727" y2="129.244" gradientUnits="userSpaceOnUse">
              <stop stop-color="#7469B6"/>
              <stop offset="1" stop-color="#4E31FF"/>
            </linearGradient>
            <linearGradient id="paint3_linear_57_2" x1="954" y1="227" x2="954" y2="404" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E1AFD1"/>
              <stop offset="1" stop-color="#FF53C8"/>
            </linearGradient>
          </defs>
        </svg>

        {% comment %}<svg{% endcomment %}
        {% comment %}class='w-full h-auto col-span-full'{% endcomment %}
        {% comment %}viewBox='0 0 1440 640'{% endcomment %}
        {% comment %}fill='none'{% endcomment %}
        {% comment %}xmlns='http://www.w3.org/2000/svg'{% endcomment %}
        {% comment %}>{% endcomment %}
        {% comment %}<path d="M45.3204 342H0V134H45.3204V216.076H125.33V134H170.651V342H125.33V258.238H45.3204V342Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M258.962 134V342H213.641V134H258.962Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M346.079 342H302.158V134H346.079L407.626 289.157L469.452 134H513.933V342H470.011V298.432C470.011 287.189 470.011 277.914 470.011 270.605C470.011 263.297 470.104 257.207 470.291 252.335C470.477 247.463 470.664 243.247 470.85 239.686C471.223 235.939 471.69 232.097 472.249 228.162L428.328 342H386.924L343.282 228.162C344.587 235.845 345.333 244.184 345.52 253.178C345.893 262.173 346.079 272.386 346.079 283.816V342Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M585.308 342H538.029L611.884 134H656.086L729.661 342H681.543L666.996 298.151H600.135L585.308 342ZM628.11 215.514L613.283 259.924H654.127L639.3 215.514C638.181 211.953 637.062 208.299 635.943 204.551C634.824 200.804 634.078 197.712 633.705 195.276C633.332 197.712 632.586 200.804 631.467 204.551C630.535 208.112 629.416 211.766 628.11 215.514Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M774.748 342L712.642 134H759.921L787.057 224.227C788.922 230.411 790.694 236.969 792.372 243.903C794.051 250.649 795.73 259.175 797.408 269.481C799.087 259.175 800.765 250.649 802.444 243.903C804.122 237.157 805.894 230.598 807.759 224.227L833.217 134H883.853L908.191 224.227C909.87 230.598 911.548 237.25 913.227 244.184C914.905 251.117 916.677 259.55 918.542 269.481C920.594 258.987 922.459 250.461 924.137 243.903C925.816 237.157 927.588 230.786 929.453 224.789L957.149 134H1003.31L940.083 342H895.882L858.115 205.395L819.229 342H774.748Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M1033.63 342H986.348L1060.2 134H1104.4L1177.98 342H1129.86L1115.32 298.151H1048.45L1033.63 342ZM1076.43 215.514L1061.6 259.924H1102.45L1087.62 215.514C1086.5 211.953 1085.38 208.299 1084.26 204.551C1083.14 200.804 1082.4 197.712 1082.02 195.276C1081.65 197.712 1080.91 200.804 1079.79 204.551C1078.85 208.112 1077.73 211.766 1076.43 215.514Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M1247.39 342H1202.07V134H1282.08C1307.26 134 1326.66 139.903 1340.27 151.708C1354.07 163.326 1360.98 179.91 1360.98 201.459C1360.98 214.951 1358.08 226.476 1352.3 236.032C1346.71 245.589 1338.13 253.366 1326.57 259.362L1362.93 342H1313.42L1282.36 269.2H1247.39V342ZM1247.39 174.476V229.286H1281.8C1291.69 229.286 1299.34 226.85 1304.74 221.978C1310.34 217.106 1313.14 210.267 1313.14 201.459C1313.14 192.652 1310.43 186 1305.02 181.503C1299.8 176.818 1292.16 174.476 1282.08 174.476H1247.39Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M1440 134V342H1394.68V134H1440Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M95.1981 391.353C83.8286 391.353 74.3258 393.909 66.6896 399.02C59.0534 403.96 53.2838 410.945 49.3808 419.974C45.4779 429.003 43.5264 439.651 43.5264 451.917C43.5264 464.523 45.7324 475.086 50.1444 483.604C54.5565 492.122 60.5806 498.51 68.2168 502.769C76.0227 506.858 84.9316 508.902 94.9435 508.902C103.428 508.902 110.64 507.795 116.579 505.58C122.519 503.365 127.27 500.299 130.834 496.381C134.567 492.462 137.282 488.033 138.979 483.093C140.846 478.152 141.779 473.041 141.779 467.76V452.683L161.379 472.36H91.6345V436.073H180.215V544.678H144.833L141.524 518.868L146.106 522.701C143.391 527.642 139.149 531.986 133.379 535.734C127.779 539.482 121.161 542.378 113.525 544.422C106.058 546.467 98.0829 547.489 89.5982 547.489C72.1198 547.489 56.5928 543.485 43.0173 535.478C29.6115 527.301 19.0905 515.972 11.4543 501.492C3.8181 487.011 0 470.06 0 450.639C0 431.558 3.9878 414.693 11.9634 400.042C19.939 385.22 31.1388 373.636 45.5627 365.288C59.9867 356.77 76.8712 352.511 96.2162 352.511C111.319 352.511 124.894 355.322 136.943 360.944C149.161 366.395 159.088 374.232 166.724 384.454C174.36 394.505 178.857 406.345 180.215 419.974H136.943C134.567 409.923 129.476 402.682 121.67 398.253C113.864 393.653 105.04 391.353 95.1981 391.353Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M239.976 544.678H196.959L264.157 355.578H304.375L371.319 544.678H327.538L314.302 504.814H253.466L239.976 544.678ZM278.92 429.684L265.43 470.06H302.593L289.102 429.684C288.084 426.448 287.066 423.126 286.048 419.718C285.029 416.311 284.351 413.5 284.011 411.286C283.672 413.5 282.993 416.311 281.975 419.718C281.126 422.955 280.108 426.277 278.92 429.684Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M434.476 544.678H393.241V355.578H466.039C488.948 355.578 506.596 360.944 518.984 371.677C531.541 382.239 537.82 397.316 537.82 416.907C537.82 429.173 535.19 439.651 529.929 448.339C524.838 457.027 517.032 464.097 506.511 469.549L539.602 544.678H494.548L466.294 478.493H434.476V544.678ZM434.476 392.375V442.206H465.785C474.779 442.206 481.736 439.991 486.657 435.562C491.748 431.133 494.293 424.914 494.293 416.907C494.293 408.9 491.833 402.853 486.912 398.764C482.16 394.505 475.203 392.375 466.039 392.375H434.476Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M608.449 544.678H568.486V355.578H608.449L664.448 496.636L720.701 355.578H761.173V544.678H721.21V505.069C721.21 494.847 721.21 486.415 721.21 479.771C721.21 473.126 721.295 467.59 721.465 463.16C721.634 458.731 721.804 454.898 721.974 451.661C722.313 448.254 722.737 444.761 723.246 441.184L683.284 544.678H645.612L605.903 441.184C607.091 448.169 607.77 455.75 607.94 463.927C608.279 472.104 608.449 481.389 608.449 491.781V544.678Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M920.04 544.678H800.406V355.578H920.04V393.909H830.187L841.641 383.176V430.962H911.131V467.249H841.641V517.08L830.187 506.347H920.04V544.678Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M994.503 544.678H953.776V355.578H994.503L1086.65 495.103H1073.92V355.578H1114.65V544.678H1073.92L981.776 405.408H994.503V544.678Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M1234.06 375.51V544.678H1192.82V375.51H1234.06ZM1139.37 393.909V355.578H1287.51V393.909H1139.37Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path d="M1301.78 410.519C1301.78 399.105 1304.75 389.053 1310.69 380.365C1316.63 371.506 1324.78 364.607 1335.13 359.666C1345.65 354.555 1357.61 352 1371.02 352C1384.6 352 1396.3 354.385 1406.15 359.155C1415.99 363.925 1423.54 370.654 1428.8 379.343C1434.23 388.031 1436.95 398.338 1436.95 410.263H1395.96C1395.96 403.619 1393.67 398.423 1389.09 394.675C1384.51 390.757 1378.32 388.798 1370.51 388.798C1362.2 388.798 1355.49 390.587 1350.4 394.164C1345.48 397.742 1343.02 402.682 1343.02 408.986C1343.02 414.778 1344.55 419.207 1347.6 422.274C1350.66 425.34 1355.49 427.555 1362.11 428.918L1390.36 434.795C1407.16 438.202 1419.64 444.165 1427.78 452.683C1435.93 461.031 1440 472.701 1440 487.692C1440 499.788 1437.03 510.435 1431.09 519.635C1425.15 528.664 1416.75 535.649 1405.89 540.589C1395.2 545.53 1382.64 548 1368.22 548C1354.3 548 1342.09 545.615 1331.57 540.845C1321.21 536.075 1313.15 529.346 1307.38 520.657C1301.78 511.798 1298.98 501.492 1298.98 489.737H1339.97C1339.97 496.551 1342.43 501.832 1347.35 505.58C1352.27 509.328 1359.31 511.202 1368.47 511.202C1377.81 511.202 1385.19 509.498 1390.62 506.091C1396.05 502.514 1398.76 497.744 1398.76 491.781C1398.76 486.5 1397.41 482.411 1394.69 479.515C1392.15 476.619 1387.73 474.575 1381.46 473.382L1352.69 467.505C1335.89 464.097 1323.17 457.624 1314.51 448.083C1306.03 438.543 1301.78 426.022 1301.78 410.519Z" fill="#ED9455"/>{% endcomment %}
        {% comment %}<path fill-rule="evenodd" clip-rule="evenodd" d="M1291.31 588.131C1328.87 643.421 1245.55 665.231 1250.74 599.054C1221.63 658.82 1161.02 597.9 1221.06 569.307C1154.25 574.291 1176.96 491.56 1231.82 529.145C1194.26 473.854 1277.07 451.908 1272.39 518.221C1301.13 457.81 1361.74 518.731 1302.07 547.968C1368.51 542.34 1346.17 625.715 1291.31 588.131ZM1270.8 560.838C1269.43 565.923 1264.14 569.407 1259.05 568.043C1253.95 566.679 1250.6 560.876 1251.96 555.791C1253.32 550.708 1258.99 547.868 1264.09 549.232C1269.18 550.596 1272.16 555.755 1270.8 560.838Z" fill="url(#paint0_linear_57_2)"/>{% endcomment %}
        {% comment %}<path d="M188.893 5.01122C167.438 -5.48838 141.533 3.39267 131.034 24.8476C120.534 46.3029 129.415 72.2068 150.87 82.7064C129.415 72.2068 103.511 81.0875 93.0113 102.543C82.5115 123.998 91.3927 149.902 112.848 160.402C134.303 170.901 160.207 162.02 170.706 140.565C160.207 162.02 169.088 187.924 190.543 198.424C211.998 208.924 237.902 200.043 248.402 178.588C258.901 157.132 250.021 131.229 228.565 120.729C250.021 131.229 275.924 122.348 286.424 100.892C296.924 79.4375 288.043 53.5334 266.588 43.0337C245.132 32.5339 219.229 41.4151 208.729 62.87C219.229 41.4151 210.348 15.511 188.893 5.01122Z" fill="url(#paint1_linear_57_2)"/>{% endcomment %}
        {% comment %}<path d="M486.794 367.452C488.221 370.35 490.477 372.57 493.141 373.967C497.15 376.068 502.073 376.298 506.436 374.168C506.447 374.164 506.458 374.16 506.469 374.155C506.479 374.15 506.489 374.145 506.499 374.14L506.515 374.132C506.526 374.127 506.536 374.122 506.546 374.116L522.082 366.39L524.566 383.563C524.567 383.581 524.571 383.596 524.574 383.612C524.575 383.62 524.576 383.627 524.577 383.636C525.777 391.668 533.26 397.223 541.287 396.026C549.32 394.832 554.916 387.317 553.793 379.266L553.791 379.246C553.79 379.23 553.789 379.217 553.784 379.203L551.323 362.034L568.387 364.905C576.402 366.254 584.053 360.803 585.432 352.758C586.812 344.714 581.415 337.067 573.397 335.708L556.344 332.817L564.411 317.411C568.195 310.176 565.424 301.219 558.23 297.448C551.035 293.676 542.093 296.493 538.292 303.728L530.212 319.11L518.133 306.73C518.127 306.727 518.121 306.722 518.115 306.716C518.107 306.709 518.099 306.7 518.094 306.693C512.414 300.905 503.081 300.831 497.263 306.532C491.445 312.233 491.302 321.586 496.929 327.413C496.934 327.419 496.938 327.424 496.942 327.429L496.962 327.451L496.97 327.46L509.033 339.857L493.513 347.6C493.506 347.605 493.498 347.609 493.489 347.613C493.481 347.617 493.473 347.621 493.466 347.626C486.199 351.279 483.205 360.166 486.794 367.452Z" fill="url(#paint2_linear_57_2)"/>{% endcomment %}
        {% comment %}<path d="M1087.54 205.245C1109.77 188.568 1141.84 162.459 1155.21 141.578C1165.21 125.978 1168.46 106.651 1164.11 88.681C1154.82 47.747 1103.35 31.0204 1071.29 58.4519C1069.49 59.9845 1067.83 61.6835 1066.12 63.4281C1065.43 64.1401 1064.72 64.8596 1064 65.5785C1063.28 64.8596 1062.57 64.14 1061.88 63.428C1060.17 61.6835 1058.51 59.9845 1056.7 58.4519C1024.65 31.0204 973.181 47.747 963.887 88.681C959.537 106.651 962.791 125.978 972.792 141.578C986.158 162.459 1018.23 188.568 1040.46 205.245C1046.65 209.893 1064 222 1064 222C1064 222 1081.35 209.893 1087.54 205.245Z" fill="url(#paint3_linear_57_2)"/>{% endcomment %}
        {% comment %}<defs>{% endcomment %}
        {% comment %}<linearGradient id="paint0_linear_57_2" x1="1342.15" y1="580.111" x2="1180.85" y2="536.889" gradientUnits="userSpaceOnUse">{% endcomment %}
        {% comment %}<stop stop-color="#FF7D29"/>{% endcomment %}
        {% comment %}<stop offset="1" stop-color="#FFF7AB"/>{% endcomment %}
        {% comment %}</linearGradient>{% endcomment %}
        {% comment %}<linearGradient id="paint1_linear_57_2" x1="227.74" y1="24.0224" x2="151.695" y2="179.413" gradientUnits="userSpaceOnUse">{% endcomment %}
        {% comment %}<stop stop-color="#FFEC9E"/>{% endcomment %}
        {% comment %}<stop offset="1" stop-color="#5EFF6E"/>{% endcomment %}
        {% comment %}</linearGradient>{% endcomment %}
        {% comment %}<linearGradient id="paint2_linear_57_2" x1="558.227" y1="297.446" x2="512.727" y2="384.244" gradientUnits="userSpaceOnUse">{% endcomment %}
        {% comment %}<stop stop-color="#7469B6"/>{% endcomment %}
        {% comment %}<stop offset="1" stop-color="#4E31FF"/>{% endcomment %}
        {% comment %}</linearGradient>{% endcomment %}
        {% comment %}<linearGradient id="paint3_linear_57_2" x1="1064" y1="45" x2="1064" y2="222" gradientUnits="userSpaceOnUse">{% endcomment %}
        {% comment %}<stop stop-color="#E1AFD1"/>{% endcomment %}
        {% comment %}<stop offset="1" stop-color="#FF53C8"/>{% endcomment %}
        {% comment %}</linearGradient>{% endcomment %}
        {% comment %}</defs>{% endcomment %}
        {% comment %}</svg>{% endcomment %}

        {% comment %}<svg{% endcomment %}
        {% comment %}class='w-full h-auto col-span-full'{% endcomment %}
        {% comment %}viewBox='0 0 1440 414'{% endcomment %}
        {% comment %}fill='none'{% endcomment %}
        {% comment %}xmlns='http://www.w3.org/2000/svg'{% endcomment %}
        {% comment %}>{% endcomment %}
        {% comment %}<path d="M45.3204 208H0V0H45.3204V82.0757H125.33V0H170.651V208H125.33V124.238H45.3204V208Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M258.962 0V208H213.641V0H258.962Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M346.079 208H302.158V0H346.079L407.626 155.157L469.452 0H513.933V208H470.011V164.432C470.011 153.189 470.011 143.914 470.011 136.605C470.011 129.297 470.104 123.207 470.291 118.335C470.477 113.463 470.664 109.247 470.85 105.686C471.223 101.939 471.69 98.0973 472.249 94.1622L428.328 208H386.924L343.282 94.1622C344.587 101.845 345.333 110.184 345.52 119.178C345.893 128.173 346.079 138.386 346.079 149.816V208Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M585.308 208H538.029L611.884 0H656.086L729.661 208H681.543L666.996 164.151H600.135L585.308 208ZM628.11 81.5135L613.283 125.924H654.127L639.3 81.5135C638.181 77.9532 637.062 74.2991 635.943 70.5513C634.824 66.8036 634.078 63.7117 633.705 61.2757C633.332 63.7117 632.586 66.8036 631.467 70.5513C630.535 74.1117 629.416 77.7658 628.11 81.5135Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M774.748 208L712.642 0H759.921L787.057 90.227C788.922 96.4108 790.694 102.969 792.372 109.903C794.051 116.649 795.73 125.175 797.408 135.481C799.087 125.175 800.765 116.649 802.444 109.903C804.122 103.157 805.894 96.5982 807.759 90.227L833.217 0H883.853L908.191 90.227C909.87 96.5982 911.548 103.25 913.227 110.184C914.905 117.117 916.677 125.55 918.542 135.481C920.594 124.987 922.459 116.461 924.137 109.903C925.816 103.157 927.588 96.7856 929.453 90.7892L957.149 0H1003.31L940.083 208H895.882L858.115 71.3946L819.229 208H774.748Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M1033.63 208H986.348L1060.2 0H1104.4L1177.98 208H1129.86L1115.32 164.151H1048.45L1033.63 208ZM1076.43 81.5135L1061.6 125.924H1102.45L1087.62 81.5135C1086.5 77.9532 1085.38 74.2991 1084.26 70.5513C1083.14 66.8036 1082.4 63.7117 1082.02 61.2757C1081.65 63.7117 1080.91 66.8036 1079.79 70.5513C1078.85 74.1117 1077.73 77.7658 1076.43 81.5135Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M1247.39 208H1202.07V0H1282.08C1307.26 0 1326.66 5.9027 1340.27 17.7081C1354.07 29.3261 1360.98 45.9099 1360.98 67.4595C1360.98 80.9514 1358.08 92.4757 1352.3 102.032C1346.71 111.589 1338.13 119.366 1326.57 125.362L1362.93 208H1313.42L1282.36 135.2H1247.39V208ZM1247.39 40.4757V95.2865H1281.8C1291.69 95.2865 1299.34 92.8504 1304.74 87.9784C1310.34 83.1063 1313.14 76.2667 1313.14 67.4595C1313.14 58.6522 1310.43 52 1305.02 47.5027C1299.8 42.818 1292.16 40.4757 1282.08 40.4757H1247.39Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M1440 0V208H1394.68V0H1440Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M95.1981 257.353C83.8286 257.353 74.3258 259.909 66.6896 265.02C59.0534 269.96 53.2838 276.945 49.3808 285.974C45.4779 295.003 43.5264 305.651 43.5264 317.917C43.5264 330.523 45.7324 341.086 50.1444 349.604C54.5565 358.122 60.5806 364.51 68.2168 368.769C76.0227 372.858 84.9316 374.902 94.9435 374.902C103.428 374.902 110.64 373.795 116.579 371.58C122.519 369.365 127.27 366.299 130.834 362.381C134.567 358.462 137.282 354.033 138.979 349.093C140.846 344.152 141.779 339.041 141.779 333.76V318.683L161.379 338.36H91.6345V302.073H180.215V410.678H144.833L141.524 384.868L146.106 388.701C143.391 393.642 139.149 397.986 133.379 401.734C127.779 405.482 121.161 408.378 113.525 410.422C106.058 412.467 98.0829 413.489 89.5982 413.489C72.1198 413.489 56.5928 409.485 43.0173 401.478C29.6115 393.301 19.0905 381.972 11.4543 367.492C3.8181 353.011 0 336.06 0 316.639C0 297.558 3.9878 280.693 11.9634 266.042C19.939 251.22 31.1388 239.636 45.5627 231.288C59.9867 222.77 76.8712 218.511 96.2162 218.511C111.319 218.511 124.894 221.322 136.943 226.944C149.161 232.395 159.088 240.232 166.724 250.454C174.36 260.505 178.857 272.345 180.215 285.974H136.943C134.567 275.923 129.476 268.682 121.67 264.253C113.864 259.653 105.04 257.353 95.1981 257.353Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M239.976 410.678H196.959L264.157 221.578H304.375L371.319 410.678H327.538L314.302 370.814H253.466L239.976 410.678ZM278.92 295.684L265.43 336.06H302.593L289.102 295.684C288.084 292.448 287.066 289.126 286.048 285.718C285.029 282.311 284.351 279.5 284.011 277.286C283.672 279.5 282.993 282.311 281.975 285.718C281.126 288.955 280.108 292.277 278.92 295.684Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M434.476 410.678H393.241V221.578H466.039C488.948 221.578 506.596 226.944 518.984 237.677C531.541 248.239 537.82 263.316 537.82 282.907C537.82 295.173 535.19 305.651 529.929 314.339C524.838 323.027 517.032 330.097 506.511 335.549L539.602 410.678H494.548L466.294 344.493H434.476V410.678ZM434.476 258.375V308.206H465.785C474.779 308.206 481.736 305.991 486.657 301.562C491.748 297.133 494.293 290.914 494.293 282.907C494.293 274.9 491.833 268.853 486.912 264.764C482.16 260.505 475.203 258.375 466.039 258.375H434.476Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M608.449 410.678H568.486V221.578H608.449L664.448 362.636L720.701 221.578H761.173V410.678H721.21V371.069C721.21 360.847 721.21 352.415 721.21 345.771C721.21 339.126 721.295 333.59 721.465 329.16C721.634 324.731 721.804 320.898 721.974 317.661C722.313 314.254 722.737 310.761 723.246 307.184L683.284 410.678H645.612L605.903 307.184C607.091 314.169 607.77 321.75 607.94 329.927C608.279 338.104 608.449 347.389 608.449 357.781V410.678Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M920.04 410.678H800.406V221.578H920.04V259.909H830.187L841.641 249.176V296.962H911.131V333.249H841.641V383.08L830.187 372.347H920.04V410.678Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M994.503 410.678H953.776V221.578H994.503L1086.65 361.103H1073.92V221.578H1114.65V410.678H1073.92L981.776 271.408H994.503V410.678Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M1234.06 241.51V410.678H1192.82V241.51H1234.06ZM1139.37 259.909V221.578H1287.51V259.909H1139.37Z" fill="currentColor"/>{% endcomment %}
        {% comment %}<path d="M1301.78 276.519C1301.78 265.105 1304.75 255.053 1310.69 246.365C1316.63 237.506 1324.78 230.607 1335.13 225.666C1345.65 220.555 1357.61 218 1371.02 218C1384.6 218 1396.3 220.385 1406.15 225.155C1415.99 229.925 1423.54 236.654 1428.8 245.343C1434.23 254.031 1436.95 264.338 1436.95 276.263H1395.96C1395.96 269.619 1393.67 264.423 1389.09 260.675C1384.51 256.757 1378.32 254.798 1370.51 254.798C1362.2 254.798 1355.49 256.587 1350.4 260.164C1345.48 263.742 1343.02 268.682 1343.02 274.986C1343.02 280.778 1344.55 285.207 1347.6 288.274C1350.66 291.34 1355.49 293.555 1362.11 294.918L1390.36 300.795C1407.16 304.202 1419.64 310.165 1427.78 318.683C1435.93 327.031 1440 338.701 1440 353.692C1440 365.788 1437.03 376.435 1431.09 385.635C1425.15 394.664 1416.75 401.649 1405.89 406.589C1395.2 411.53 1382.64 414 1368.22 414C1354.3 414 1342.09 411.615 1331.57 406.845C1321.21 402.075 1313.15 395.346 1307.38 386.657C1301.78 377.798 1298.98 367.492 1298.98 355.737H1339.97C1339.97 362.551 1342.43 367.832 1347.35 371.58C1352.27 375.328 1359.31 377.202 1368.47 377.202C1377.81 377.202 1385.19 375.498 1390.62 372.091C1396.05 368.514 1398.76 363.744 1398.76 357.781C1398.76 352.5 1397.41 348.411 1394.69 345.515C1392.15 342.619 1387.73 340.575 1381.46 339.382L1352.69 333.505C1335.89 330.097 1323.17 323.624 1314.51 314.083C1306.03 304.543 1301.78 292.022 1301.78 276.519Z" fill="currentColor"/>{% endcomment %}
        {% comment %}</svg>{% endcomment %}
      </div>
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <ul hidden>
      <li id='a11y-refresh-page-message'>
        {{- 'accessibility.refresh_page' | t -}}
      </li>
      <li id='a11y-new-window-message'>
        {{- 'accessibility.link_messages.new_window' | t -}}
      </li>
    </ul>

    <script>
      window.Shopify = {
        strings: {
          shopUrl: '{{- request.origin -}}',
          routes: {
            root: '{{- routes.root_url -}}',
            cart: {
              add: '{{- routes.cart_add_url -}}',
              change: '{{- routes.cart_change_url -}}',
              update: '{{- routes.cart_update_url -}}',
              url: '{{- routes.cart_url -}}',
              predictiveSearch: '{{- routes.predictive_search_url -}}',
            },
          },
          labels: {
            cart: {
              error: `{{- 'sections.cart.cart_error' | t -}}`,
              quantityError: `{{- 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' -}}`,
            },
            variant: {
              addToCart: `{{- 'products.product.add_to_cart' | t -}}`,
              soldOut: `{{- 'products.product.sold_out' | t -}}`,
              unavailable: `{{- 'products.product.unavailable' | t -}}`,
              unavailableWithOption: `{{- 'products.product.value_unavailable' | t: option_value: '[value]' -}}`,
            },
          },
        },
      }
    </script>
  </body>
</html>
